<h1><span>Recent pins by the users and boards</span>You Follow</h1>

<%= render ('nothing_yet') if @profile_counters[:following].zero? %>

<%= render 'pins/pins' %>

<%= render 'signup_step_2' if params[:step_2] %>
