<h1><span><%= @profile.name %>'s</span> 116 Followers Recent Activity</h1>

<div class="followers_list">
  <ul class="users">
    <li>
      <a href="#" class="btn action follow_in_list">follow</a>
      <a href="#" class="user"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"> User Name Here <span>23 Followers</span><span>Following 345</span></a>
    </li>
    <li>
      <a href="#" class="btn action follow_in_list">follow</a>
      <a href="#" class="user"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"> User Name Here <span>23 Followers</span><span>Following 345</span></a>
    </li>
    <li>
      <a href="#" class="btn action follow_in_list">un-follow</a>
      <a href="#" class="user"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"> User Name Here <span>23 Followers</span><span>Following 345</span></a>
    </li>
    <li>
      <a href="#" class="btn action follow_in_list">follow</a>
      <a href="#" class="user"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"> User Name Here <span>23 Followers</span><span>Following 345</span></a>
    </li>
  </ul>
</div>

<%= render 'pins/pins' %>
