<h1><span><%= @profile.name %></span>Liked these Pins</h1>
<select class="cat_select">
  <option>All Pins</option>
  <option>Articles</option>
  <option>Gifts</option>
  <option>Ideas</option>
</select>

<%= render 'pins/pins' %>