<h1><span><%= @profile.name %>'s</span>Recent Pins</h1>

<% if @profile_counters[:pins].zero? %>
  <div class="empty_pins">
    <p>Here are a few pins to get you excited about all the wonderful ideas here on ParentPins. Check out a few boards, follow other pinners, or start pinning things you like.</p>
    <p><a href="/bookmarklet.html">Get the ParentPin Bookmarklet now</a> to start ParentPinning from any site on the web.</p>
  </div>
<% end %>


<%= render 'pins/pins' %>