<h1><span><%= @profile.name %>'s</span>Recent Pins</h1>
<select class="cat_select">
  <option>All Pins</option>
  <option>Articles</option>
  <option>Gifts</option>
  <option>Ideas</option>
</select>

<% if @profile_counters[:pins].zero? %>
  <div class="empty_pins">
    <p>Here are a few pins to get you excited about all the wonderful ideas here on ParentPins. Check out a few boards or start pinning things you like</p>
    <p><a href="/bookmarklet.html">Get the ParentPin Bookmarklet now</a> to start ParentPinning from any site on the web.</p>
  </div>
<% end %>

<ul class="timeline" id="pins">
  <!-- Image max-widths should be 192px maintianing aspect ratio with flexible height -->
  <!-- timeline center dot alignments need work to match masonry configuration -->
  <%= render :partial => 'pins/pin', :collection => @pins %>
</ul>