<p>
  Another ParentPins user (<%= link_to @comment.user.name, profile_url(@comment.user) %>) has commented on your <%= @what %>.
  To view and respond to the comment, click the link below:
</p>

<%= link_to 'View Comment', url_for_comment(@comment), :class => 'button', :style => 'display:block;background-color:#76A613;color:#fff;text-align:center;margin:12px auto;font-size:18px;line-height:24px;padding:12px 24px;' %>
