<tr>
  <td valign="top" class="bodyContent">
    <div mc:edit="std_content00">
      <h1 class="h1">Your Pins are Awesome!</h1>
      <p>
        ParentPins has selected you as a Featured Pinner.  This means you're in rotation to show up on the
        <%= link_to 'ParentPins Homepage', root_url %>, the
        <%= link_to 'Featured Page', featured_url %>, and various other places around the site.
        You'll also get a badge on your profile to broadcast your status to other users.
      </p>
      <p>
        If you want to customize the information that's shown about your account on the featured page, you can edit
        the Featured Bio field on <%= link_to 'your setting page', edit_profile_url(@user) %>.
      </p>
    </div>
  </td>
</tr>
