<% @headline = "Your Pins are Awesome!" %>
<p>
  ParentPins has selected you as a Featured Pinner.  This means you're in rotation to show up on the
  <%= link_to 'ParentPins Homepage', root_url %>, the
  <%= link_to 'Featured Page', featured_url %>, and various other places around the site.
  You'll also get a badge on your profile to broadcast your status to other users.
</p>
<p>
  Being featured means that more ParentPins users will view your content, read your detailed bio, and visit any personal websites you've listed.  
  It's a great way to organically increase your exposure and grow your follower base.  However, if at any time you'd like to remove 
  yourself from Featured rotation, please visit the Featured tab on <%= link_to 'your setting page', edit_profile_url(@user) %>.  
  This is also where you can customize the information you'd like to be included on your Featured profile.
</p>
