<div class="actions">
  <a class="btn sec_action repin_button" href="/pin/pin_id/repin/">Repin</a>
  <a class="btn sec_action like_button" href="#">Like</a>
  <a class="btn sec_action comment_button" href="#pinly_comment">Comment</a>
</div>
