<%= render 'shared/filters' %>

<% if @pins.blank? %>
  <div class="empty-results">
    <h2>Ramp up your activity feed.</h2> 
    <p>Follow another parent or a parent's board to see their pins here.</p>
  </div>
<% else %>
  <ul class="timeline ajax-pagination" id="pins">
    <%= render @pins %>
  </ul>
  <div class="clearfix"></div>
  <%= pagination_link %>
  <div class="clearfix"></div>
<% end %>