<% if @pins.blank? %>
  <div class="empty-results">No pins to show.</div>
<% else %>
  <ul class="timeline ajax-pagination" id="pins">
    <%= render @pins %>
  </ul>
  <div class="clearfix"></div>
  <%= pagination_link %>
  <div class="clearfix"></div>
<% end %>