<div class="stats">
  <span class="like_count"><%= pluralize pin.liked_by_count, 'like', 'likes' %></span>
  <span class="comment_count"><%= pluralize pin.comments_count, 'comment', 'comments' %></span>
  <span class="repins_count"><%= pluralize pin.repin_count, 'repin', 'repins' %></span>
</div>
