<% if pin.liked_by_count > 0 || pin.comments_count > 0 || pin.repin_count > 0 %>
  <div class="stats">
    
    <% if pin.liked_by_count > 0 %>
      <span class="like_count">
        <%= pluralize pin.liked_by_count, 'like', 'likes' %>
      </span>
    <% end %>
    
    <% if pin.comments_count > 0 %>
      <span class="comment_count">
        <%= pluralize pin.comments_count, 'comment', 'comments' %>
      </span>
    <% end %>
    
    <% if pin.repin_count > 0 %>
      <span class="repins_count">
        <%= pluralize pin.repin_count, 'repin', 'repins' %>
      </span>
    <% end %>
    
  </div>
<% end %>
