<% if pin.likes_count > 0 || pin.comments_count > 0 || pin.repins_count > 0 %>
  <div class="stats">
    
    <% if pin.likes_count > 0 %>
      <span class="likes_count">
        <%= pluralize pin.likes_count, 'like', 'likes' %>
      </span>
    <% end %>
    
    <% if pin.comments_count > 0 %>
      <span class="comment_count">
        <%= pluralize pin.comments_count, 'comment', 'comments' %>
      </span>
    <% end %>
    
    <% if pin.repins_count > 0 %>
      <span class="repins_count">
        <%= pluralize pin.repins_count, 'repin', 'repins' %>
      </span>
    <% end %>
    
  </div>
<% end %>
