<%= render 'shared/featured' %>

<div class="wrapper">

  <div class="content board board_wide">
    <div class="row">
      <div class="span12">
        <h1><%= pins_index_header %></h1>
        <%= render 'pins/pins' %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

</div>
