<div class="wrapper general container">

  <div class="content">
    <div class="container">
      <h1 class="centered">Add Pins to Your ParentPins Boards <span>Using the ParentPins bookmarklet you can add pins from any website, or easily import your Pinterest pins onto your ParentPins boards.</span></h1>
    
      <div class="row">
        
        <div class="span7">
          <h2>How to add the ParentPin It! button:</h2>
          <ul class="instructions">
            <li>Make sure your bookmarks bar is open in your browser.</li>
            <li>Then, simply drag and drop the link below to your bookmarks bar. <span class="btn primary btn_bookmarklet" title="drag me to your bookmarks bar" rel="tooltip" data-placement="top"><%= bookmarklet_link %></span></li>
            <li>Now when you are on a website, click the button in your bookmarks bar to create a pin from the url you are on.</li>
          </ul>
        </div>
        
        <div class="span5">
          <img src="<%= asset_path 'ui/bookmarklet_instructions.png' %>" class="bookmarklet_example">
        </div>
          
      </div>
    
      <div class="row pinterest_note">
        
        <div class="span12">
          <img src="<%= asset_path 'ui/pinterest_instructions.png' %>" >
          <h2>How to use the ParentPin It! button to import your Pinterest pins:</h2>
          <ul class="instructions">
            <li>f you want to import your existing Pinterest pins, first log into your Pinterest account, go to your boards page or a specific board, and then click the ParentPin It! button in your bookmarks bar to start the import process.</li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>

</div>