<tr>
  <td valign="top" class="bodyContent">
    <div mc:edit="std_content00">
      <h1 class="h1">You're In with the Pins</h1>
      <p><strong>Welcome UserName!</strong></p>
      <p>Please confirm your account email through the link below:</p>
    </div>
  </td>
</tr>
<tr>
  <td align="center" valign="top" style="padding-top:0;">
    <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
      <tr>
        <td valign="middle" class="templateButtonContent">
          <div mc:edit="std_content01">
            <a href="http://www.kyle.com/" target="_blank">Confirm my account</a>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>