<div class="wrapper general">

  <div class="content">
    <h1>ParentPins: Terms of Service</h1>
    
    <h2>TERMS OF SERVICE</h2>

    <p>These Terms of Service ("Terms") govern your access to and use of ParentPins' website, products, and services ("Products"). Please read these Terms carefully, and contact us if you have any questions. By accessing or using our Products, you agree to be bound by these Terms and by our Privacy Policy, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trade mark law.</p>


    <h2>1. USE LICENSE</h2>

    <p>You may use our Products only if you can form a binding contract with ParentPins, and only in compliance with these Terms and all applicable laws. When you create your ParentPins account, you must provide us with accurate and complete information. Any use or access by anyone under the age of 13 is prohibited. If you open an account on behalf of a company, organization, or other entity, then (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity's behalf.</p>

    <p>Permission is granted to temporarily download one copy of the materials (information or software) on ParentPins website or apps for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
    
    <ol>
      <li>modify, copy or use the images or materials;</li>
      <li>use the images/materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
      <li>attempt to decompile or reverse engineer any software contained on ParentPins websites or apps</li>
      <li>remove any copyright or other proprietary notations from the images/materials; or</li>
      <li>transfer the images/materials to another person or "mirror" the images/materials on any other server.</li>
    </ol>

    <p>This license shall automatically terminate if you violate any of these restrictions and may be terminated by ParentPins at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>

    <p>Subject to these Terms and our policies, we grant you a limited, non-exclusive, non-transferable, and revocable license to use our Products.</p>



    <h2>2. CONTENT</h2>

    <p>You grant ParentPins and its users a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, store, display, reproduce, re-pin, modify, create derivative works, perform, and distribute your User Content on ParentPins solely for the purposes of operating, developing, providing, and using the ParentPins Products.  We reserve the right to remove or modify User Content for any reason, including User Content that we believe violates these Terms or our policies.</p>

    <p>Following termination or deactivation of your account, or if you remove any User Content from ParentPins, ParentPins and its users may retain and continue to use, store, display, reproduce, re-pin, modify, create derivative works, perform, and distribute any of your User Content that other users have stored or shared through ParentPins.</p>



    <h2>3. DISCLAIMER</h2>

    <p>The materials on ParentPins websites and apps are provided "as is". ParentPins makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, ParentPins does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its websites or otherwise relating to such materials or on any sites linked to this site.</p>



    <h2>4. LIMITATIONS</h2>

    <p>In no event shall ParentPins or its users be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on ParentPins websites or apps, even if ParentPins or a ParentPins authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>



    <h2>5. REVISIONS AND ERRATA</h2>

    <p>The materials appearing on ParentPins websites and apps could include technical, typographical, or photographic errors. ParentPins does not warrant that any of the materials on its websites are accurate, complete, or current. ParentPins may make changes to the materials contained on its websites at any time without notice. ParentPins does not, however, make any commitment to update the materials.</p>



    <h2>6. EXTERNAL LINKS</h2>

    <p>ParentPins has not reviewed all of the sites linked to its websites or apps and is not responsible for the contents of any such linked site. By providing links to other sites, ParentPins does not endorse, approve or guarantee the information, recipes or products available on these external sites. Use of any such linked websites is at the visitor's/user's own risk and responsibility and you agree that ParentPins will have no liability arising from your use of or access to any third-party website, service, or content.</p>



    <h2>7. INDEMNITY</h2>

    <p>If you use our Products for commercial purposes in violation of these terms, as determined in our sole and absolute discretion, you agree to indemnify and hold harmless ParentPins and its officers, directors, employees and agents, from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses, costs and expenses, including, without limitation, reasonable legal and accounting fees (including costs of defense of claims, suits or proceedings brought by third parties), in any way related to (a) your access to or use of our Products, (b) your User Content, or (c) your breach of any of these Terms.</p>



    <h2>8. SITE TERMS OF USER MODIFICATIONS</h2>
    <p>ParentPins may revise these Terms of Service for its websites at any time without notice. By using this website you are agreeing to be bound by the then current version of these Terms and Conditions of Service.</p>



    <h2>9. GOVERNING LAW</h2>
    <p>Any claim relating to ParentPins websites shall be governed by the laws of the state of Texas without regard to its conflict of law provisions.</p>
    
    
    
  </div>

  <div class="clearfix"></div>

</div>
