<div class="wrapper general">
  
  <div class="content">
    <h1>ParentPins: Privacy</h1>
    
    <h2>PRIVACY POLICY</h2>

    <p>Thank you for using ParentPins!  We wrote this policy to help you understand what information we collect, how we use it, and what choices you have regarding your information.</p>


    <h2>1. INFORMATION THAT IS GATHERED FROM VISITORS</h2>

    <p>In common with other websites, log files are stored on the web server saving details such as the visitor's IP address, browser type, referring page and time of visit. Cookies may be used to remember visitor preferences when interacting with the website. </p>

    <p>When you sign up for or use our products, you voluntarily give us certain information. This can include your name, profile photo, pins, comments, likes, email address you used to sign up, and any other information you provide us.</p>

    <p>You also may give us permission to access your information in other services. For example, you may link your Facebook or Twitter account to ParentPins, which allows us to obtain information from those accounts (e.g., your friends or contacts). The information we obtain from those services often depends on your settings or their privacy policies, so be sure to check what those are.</p>



    <h2>2. HOW INFORMATION IS USED</h2>

    <p>We use the information we collect to provide our products to you and make them better, display personalized content and possibly advertising, develop new products, and protect ParentPins and our users.</p>

    <p>We also use the information we collect to send you updates (such as when certain activity, like repins or comments, happens on ParentPins), newsletters, marketing materials and other information that may be of interest to you. </p>



    <h2>3. VISITOR OPTIONS</h2>
    <p>If you have subscribed to one of our services, you may unsubscribe by following the instructions which are included in e-mail that you receive. Certain emails are core to the service and may be not unsubscribed without cancelling your account. You may be able to block cookies via your browser settings but this may prevent you from access to certain features of the website.</p>



    <h2>4. THIRD PARTY ADS</h2>
    <p>Third-party advertising companies used by ParentPins may use aggregated information (not including your name, address, email address or telephone number) about your visits to this and other web sites in order to provide advertisements about goods and services of interest to you.</p>


  </div>
  <div class="clearfix"></div>

</div>
