/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background:transparent url(../images/patterns/bgnoise_light.png) 0 0 repeat;
}
body.theme_one {
  background:transparent url(../images/patterns/debut_medium.png) 0 0 repeat;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* typography */

p {
  font-size:13px;
}
a {
  color:#1D58AA;
  color:#E55799;
}
a:hover {text-decoration:none;}


/* buttons */

.btn {
  display:inline-block;
  text-decoration:none;
  text-align:center;
  position:relative;
  padding:9px 12px 6px 12px;
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  font-size:14px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'transparent', endColorstr = 'rgba(0,0,0,0.3)');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = 'transparent', endColorstr = 'rgba(0,0,0,0.3)')";
  background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0,0.3));
  background-image: -ms-linear-gradient(top, transparent, rgba(0,0,0,0.3));
  background-image: -o-linear-gradient(top, transparent, rgba(0,0,0,0.3));
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0,0,0,0.3)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.3));
  background-image: linear-gradient(top, transparent, rgba(0,0,0,0.3));
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn.action {
  background-color: #2FE72D;
  border: 1px solid #06BE04;
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.7);
  padding:5px 10px 5px 26px;
  position:absolute;
  font-size:13px;
}
.btn.follow, .btn.unfollow {
  top:5px;
  left:4px;
  padding-right:3px;
  text-indent:-299px;
  overflow:hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn.follow:hover, .btn.unfollow:hover {
  text-indent:0;
  padding-right:10px;
}
.btn.follow:before {
  content:"";
  height:15px;
  width:15px;
  position:absolute;
  top:7px;
  left:6px;
  background:transparent url(../images/ui/glyphicons-halflings-white.png) -406px -96px repeat;
}
.btn.unfollow {
  background-color:#ddd;
  border:1px solid #bbb;
}
.btn.unfollow:hover {
  color:#333;
}
.btn.unfollow:before {
  content:"";
  height:15px;
  width:15px;
  position:absolute;
  top:7px;
  left:6px;
  background:url("../images/ui/glyphicons-halflings-white.png") repeat scroll -432px -96px transparent
}
.btn.follow_in_list {
  background-color: #ddd;
  border: 1px solid #bbb;
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.7);
  padding:5px 10px 5px 10px;
  position:absolute;
  top:14px;
  right:-40px;
  font-size:13px;
  display:inline-block;
  z-index:1;
}
.btn:hover {
  background-image:none;
}
.btn:active {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
  box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
}
.btn.primary {
  background-color:#E55799;
  border:1px solid #E55799;
  position:relative;
  font-weight:bold;
}
.btn.sec_action {
  background-color: #F8F8F8;
  border: 1px solid #bbb;
  color:#222;
  text-shadow:0 1px 0 rgba(255,255,255,0.7);
  padding:5px 10px 5px 26px;
  font-size:13px;
}
.btn.sec_action:hover {
  background-color:#f8f8f8;
}

.btn.load_more_button {
  padding-left:10px;
  clear:both;
  margin:10px auto;
  display:block;
  width:140px;
}
.btn.tertiary_action {
  background-color:#E55799;
  border:1px solid #E55799;
  position:relative;
  font-weight:bold;
}
.btn.btn_facebook {
  background-color:#3c5a97;
  border:1px solid #3c5a97;
  position:relative;
  font-weight:bold;
  margin:0 auto;
  color:#fff;
  font-size:18px;
  display:block;
  width:240px;
  background-image:url(../images/ui/icn_facebook.png);
  background-size:30px 45px;
  background-repeat:no-repeat;
  background-position:5px 0;
  position:relative;
}
.btn.btn_facebook:after {
  content:"KidPins is more fun with friends!";
  position:absolute;
  bottom:-24px;
  left:32px;
  color:#454545;
  font-size:15px;
  font-weight:normal;
  font-style:italic;
  font-family:times,georgia,serif;
  background:transparent;
}
.btn.btn_facebook:before {
  content:"";
  position:absolute;
  bottom:-18px;
  left:18px;
  color:#454545;
  font-size:13px;
  font-weight:normal;
  font-style:italic;
  height:18px;
  width:18px;
  background:transparent url(../images/ui/glyphicons-halflings-black.png) -290px -90px no-repeat;
}

.loader_icon {
  display:block;
  margin:0 auto;
}

/* header */

.logo {
  display:block;
  position:absolute;
  padding:20px 20px;
  top:0;
  left:30px;
  text-align:center;
  text-decoration:none;
  color:#E55799;
}
.ir.logo {
  text-indent:0;
}
.header li {
  list-style:none;
}
.header li a {
  display:block;
  text-decoration:none;
  font-size:15px;
  padding:20px 30px;
  font-weight:400;
}
.header li a:hover {
  background-color:#e5579a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5579a', endColorstr = '#cd2479');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5579a', endColorstr = '#cd2479')";
  background-image: -moz-linear-gradient(top, #e5579a, #cd2479);
  background-image: -ms-linear-gradient(top, #e5579a, #cd2479);
  background-image: -o-linear-gradient(top, #e5579a, #cd2479);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e5579a), to(#cd2479));
  background-image: -webkit-linear-gradient(top, #e5579a, #cd2479);
  background-image: linear-gradient(top, #e5579a, #cd2479);
  color:#F1F1F1;
  text-shadow:0 -1px 0 #000000;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header li a:active {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
  box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
  color:#fff;
}
.header li a.marker {
  background-color:#F5D4E4;
}

.nav_main {
  float:left;
  margin:0 0 0 255px;
  padding:0;
}
.nav_main li {
  float:left;
}
.nav_main a {
  color:#000;
  text-shadow:0 1px 0 rgba(255,255,255,1);
}

.nav_login {
  float:right;
  margin:0;
  padding:0;
}
.nav_login li {
  float:left;
}
.nav_login a {
  color:#000;
  text-shadow:0 1px 0 rgba(255,255,255,1);
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}
.nav_login .login {
  border-right:1px solid #f9f9f9;
}
.nav_login .signup {
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}
.nav_login .profile_link {
  border:none;
  text-align:center;
  position:relative;
}
.nav_login .profile_link ul {
  display:none;
  background:#fff;
  position:absolute;
  top:58px;
  left:0;
  margin:0;
  padding:0;
  z-index:3;
  border:1px solid #ccc;
  width:158px;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.05);
}
.nav_login .profile_link:hover ul {
  display:block;
}
.nav_login .profile_link ul li {
  display:block;
  float:none;
}
.nav_login .profile_link ul li a {
  display:block;
  float:none;
  padding:6px 10px;
  text-align:left;
  font-size:13px;
}
.nav_login .profile_link .settings {
  border-top:1px solid #eee;
}

/* profile info section */

.info h2 {
  font-size:24px;
  color:#444;
  font-weight:normal;
  font-family:georgia,times,serif;
  text-align:center;
  padding:0;
  margin:0 0 10px 0;
}
.info:hover h2 {
  color:#000;
}
.info p {
  padding:0 10px 0 25px;
}
.info .kid_count {
  position:relative;
  padding:8px 10px 0 64px;
  margin:10px 0 0 0;
}
.info .kid_count:before {
  content:"";
  position:absolute;
  top:0;
  left:15px;
  height:30px;
  width:40px;
  background:transparent url(../images/ui/glyphicons_gray.png) -135px -192px repeat;
}
.info .avatar {
  border:4px solid #cd2479;
  display:block;
  margin:20px auto 5px auto;
  height:120px;
  width:120px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 3px 5px #F1F1F1;
  -moz-box-shadow: 0 3px 5px #F1F1F1;
  box-shadow: 0 3px 5px #F1F1F1;
}
.info .avatar img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.nav_profile {
  margin:0;
  padding:0;
  border-top:1px solid #AB0653;
}
.nav_profile li {
  list-style:none;
}
.nav_profile a {
  display:block;
  position:relative;
  background-color:#e5579a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5579a', endColorstr = '#cd2479');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5579a', endColorstr = '#cd2479')";
  height:20px;
  background-image: -moz-linear-gradient(top, #e5579a, #cd2479);
  background-image: -ms-linear-gradient(top, #e5579a, #cd2479);
  background-image: -o-linear-gradient(top, #e5579a, #cd2479);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e5579a), to(#cd2479));
  background-image: -webkit-linear-gradient(top, #e5579a, #cd2479);
  background-image: linear-gradient(top, #e5579a, #cd2479);
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0 -1px 0 rgba(0,0,0,1);
  padding:15px 10px 10px 48px;
  border-bottom:1px solid #AB0653;
  border-top:1px solid #F88EBF;
}
.nav_profile a:after {
  content:"";
  background:transparent url(../images/ui/glyphicons_gray.png) 0 0 repeat;
  position:absolute;
  top:8px;
  left:6px;
  height:30px;
  width:30px;
}
.nav_profile .recent:after {
  background-position: -235px -1583px;
}
.nav_profile .likes:after {
  background-position: -284px -958px;
}
.nav_profile .boards:after {
  background-position: -380px -1487px;
}
.nav_profile .followers:after {
  background-position: -189px -1055px;
}
.nav_profile .following:after {
  background-position: -143px -1055px;
}
.nav_profile a:hover {
  background:#e5579a;
  color:#222;
  text-shadow:0 1px 0 rgba(255,255,255,0.3);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.nav_profile .active {
  background:#B42366;
  -webkit-box-shadow: 10px 0 9px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 10px 0 9px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 10px 0 9px rgba(0, 0, 0, 0.2) inset;
}
.nav_profile .active:before {
  content:"";
  position:absolute;
  height:0;
  width:0;
  top:15px;
  right:-10px;
  border-left:10px solid #B42366;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
}
.nav_profile .active:hover:before {
  border-left:10px solid #e5579a;
}
.nav_profile a:active {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
  box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;
}


.content h1 {
  color:#444;
  font-family:georgia,times,serif;
  font-size:32px;
  font-weight:normal;
  margin:0 0px 10px 50px;
  padding: 0 0 0 10px;
  border-bottom:1px dashed #C2C2C2;
}
.content h1 span {
  display:block;
  font-size:14px;
  margin:0;
  padding:0;
}
.content h2 {
  color:#444;
  font-family:arial,trebuchet,helvetica,sans-serif;
  font-size:20px;
  font-weight:bold;
  margin:0;
  padding: 10px 0 0 0;
}
.content h3 {
  color:#444;
  font-family:arial,trebuchet,helvetica,sans-serif;
  font-size:16px;
  font-weight:bold;
  margin:0;
  padding: 10px 0 0 0;
}
.help_list li {
  padding:0 0 10px 0;
}
.help_list em {
  font-size:12px;
  display:block;
}
.empty_pins {
  margin:20px 0 20px 65px;
}
.empty_pins p {
  font-size:14px;
}

.about_content {
  margin:20px 40px;
}


/* feed timeline */

.timeline {
  margin:10px 0;
  padding:10px 0;
  width:auto;
}
.timeline .left {
  float:left;
  clear:left;
}
.timeline .right {
}
.timeline li {
  display:block;
  float:left;
  position:relative;
  background-color:#fff;
  width:192px;
  margin:10px 0 14px 6px;
  list-style:none;
  border:1px solid #fff;
  padding:15px 15px 0;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.timeline li:before {
  content:"";
  display:block;
  position:absolute;
  height:20px;
  width:23px;
}
.timeline li:nth-of-type(odd):before {
  right:-24px;
  top:20px;
  background:transparent url(../images/ui/timeline_marker.png) -10px 0 no-repeat;
}
.timeline li:nth-of-type(even):before {
  left:-24px;
  top:120px;
  background:transparent url(../images/ui/timeline_marker.png) -20px 0 no-repeat;
}
.pin {
  font-size: 11px;
  color:#000;
  font-family:"helvetica neue",arial,sans-serif;
  overflow:hidden;
}
.pin .actions {
  display:block;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  padding: 20px 20px 10px;
  position: absolute;
  width:182px;
  height:70px;
  position:absolute;
  top:-100px;
  left:0;
  z-index:2;
  -webkit-transition: left .2s ease-in-out, top .2s ease-in-out .2s;
  -moz-transition: left .2s ease-in-out, top .2s ease-in-out .2s;
  -ms-transition: left .2s ease-in-out, top .2s ease-in-out .2s;
  -o-transition: left .2s ease-in-out, top .2s ease-in-out .2s;
  transition: left .2s ease-in-out, top .2s ease-in-out .2s;
}
.pin:hover .actions { 
  top:-1px;
}
.sec_action:before {
  content:"";
  position: absolute;
  top:6px;
  left:6px;
  height:18px;
  width:18px;
  background:transparent url(../images/ui/glyphicons-halflings-black.png) 0 0 repeat;
}
.repin_button:before {
  background-position: -118px -118px;
}
.like_button:before {
  background-position: -286px 0;
}
.edit_button:before {
  background-position: 0 -71px;
}
.repin_button {
  margin-right:10px;
}
.comment_button:before {
  background-position: -238px -119px;
}
.comment_button {
  margin-top:10px;
}
.gift_price {
  background:#f9f9f9;
  padding:5px 10px;
  width:145px;
  color:#333;
  text-shadow:0 1px 0 rgba(255,255,255,1);
  z-index:1;
  position:absolute;
  top:14px;
  left:-50px;
  text-align:center;
  font-weight:normal;
  font-size:16px;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
}
.pin_image {
  display:block;
  margin:0 auto;
  width:192px;
  height:auto;
}
.pin .description {
  margin:10px 0 0 0;
}
.pin .description strong {
  color:#E5579A;
  position:relative;
}
.pin .description a:hover strong {
  text-decoration:none;
}
.pin .description strong:hover:before {
  content:"";
  position:absolute;
  bottom:20px;
  left:5px;
  display:block;
  background:#000;
  color:#fff;
  text-align:center;
  font-size:13px;
  line-height:17px;
  padding:4px 10px;
  width:160px;
}
.pin .description strong:hover:after {
  content:"";
  position:absolute;
  bottom:14px;
  left:5px;
  display:block;
  width:0;
  height:0;
  border-top:10px solid #000;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
}
.pin .description .article:hover:before {
  content:"Pinned from a blog, top 10 list, writer, etc.";
}
.pin .description .gift:hover:before {
  content:"Pinned from an online store, KidPin Store, or just a cool product for sale.";
}
.pin .description .idea:hover:before {
  content:"Just generally a cool idea for kids.";
}
.pin .description a {
  text-decoration:none;
  color:#222;
}
.pin .description a:hover {
  text-decoration:underline;
  color:#000;
}
.pin .stats {
  margin:10px 0 5px 0;
  color:#8C7E7E;
  overflow:hidden;
}
.pin .stats span {
  float:left;
  margin-right:10px;
}
.attribution {
  border-bottom:1px solid #D9D4D4;
}
.attribution, .comment {
  overflow:hidden;
  background:#F2F0F0;
  margin:0 -15px;
}
.attribution .image_link, .comment .image_link {
  float:left;
  margin:10px;
  height:30px;
  width:30px;
  display:block;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
}
.attribution .image_link img, .comment .image_link img {
  display:block;
}
.attribution .details, .comment .details {
  max-width:260px;
  font-size:11px;
  display:block;
  vertical-align:middle;
  overflow:hidden;
  word-wrap:break-word;
  color:#AD9C9C;
  line-height:14.85px;
  margin:10px;
}
.comment .details {
   color:#8C7E7E;
 }
.pin .attribution .details a {
  font-weight:700;
  color:#8C7E7E;
  text-decoration:none;
}
.comment .details a {
 color:#524D4D;
 color:#8C7E7E;
 font-weight:700;
 text-decoration:none;
}
.attribution .details a:hover, .comment .details a:hover {
  text-decoration:underline;
  color:#222;
}
.comment {
  border-top:1px solid #fff;
}
.comment form {
  padding:10px;
}
.comment form textarea {
  border:1px solid #ccc;
  font-size:11px;
  height:21px;
  padding:4px 3px 3px;
  width:153px;
  margin:0 0 5px 0;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
  color:#8C7E7E;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  resize:none;
}
.comment form button {
  float:right;
  margin:0 0 5px 0;
  padding:8px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:none;
  background-color:#F9F7F7;
  background-image: -moz-linear-gradient(top, #F9F7F7, #dddddd);
  background-image: -ms-linear-gradient(top, #F9F7F7, #dddddd);
  background-image: -o-linear-gradient(top, #F9F7F7, #dddddd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F9F7F7), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #F9F7F7, #dddddd);
  background-image: linear-gradient(top, #F9F7F7, #dddddd);
  text-shadow:0 1px rgba(255, 255, 255, 0.9);
  color:#524d4d;
  border:1px solid #bbbbbb;
}
.comment form button:hover {
  background-color:#E7E7E7;
  background-image: -moz-linear-gradient(top, #ffffff, #E7E7E7);
  background-image: -ms-linear-gradient(top, #ffffff, #E7E7E7);
  background-image: -o-linear-gradient(top, #ffffff, #E7E7E7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#E7E7E7));
  background-image: -webkit-linear-gradient(top, #ffffff, #E7E7E7);
  background-image: linear-gradient(top, #ffffff, #E7E7E7);
}
.comment form button:active {
  background-color:#E7E7E7;
  background-image:none;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.3) inset;
  -moz-box-shadow: 0 0 3px rgba(0,0,0, 0.3) inset;
  box-shadow: 0 0 3px rgba(0,0,0, 0.3) inset;
}


/* board layout */

.wrapper.boards {
  width:1000px;
}
.wrapper.general .content {
  width:1020px;
}
ul.boards {
  margin:10px;
}
ul.boards li {
  float:left;
  display:block;
  width:222px;
  margin:15px 15px 10px 15px;
}

.board h3, .board  h4 {
  overflow: hidden;
  padding: 5px 15px 0;
  margin:0 0 4px 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:13px;
}
.board h3 {
  height:20px;
  padding-bottom:0;
  font-family:palatino,"palatino linotype","book antiqua",serif;
}
.board h3 a {
  color: #584D4D;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  padding-bottom: 0;
  text-shadow: 0 1px 0 #FFFFFF;
  text-decoration:none;
}
.board h4 a {
  color:#8C7E7E;
  font-size: 11px;
  line-height:18px;
  font-weight: bold;
  text-decoration: none;  
}
.board h3 a:hover {
  color: #000;
  text-decoration:underline;
}
.board h4 a:hover {
  color: #b6457a;
  text-decoration:underline;
}
.board h4 a img {
  height: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  width: 18px;
}
.link {
  position:absolute;
  top:0;
  left:0;
  height:207px;
  width:222px;
  display:block;
  opacity:0;
  z-index:1;
}
.link:hover {
  background:rgba(255,255,255,0.3);
  opacity:1;
}
.link:hover:before {
  content:"View this board";
  display:block;
  position:absolute;
  top:60px;
  left:21px;
  padding:10px;
  width:160px;
  height:18px;
  background-color:#e5579a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5579a', endColorstr = '#cd2479');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5579a', endColorstr = '#cd2479')";
  background-image: -moz-linear-gradient(top, #e5579a, #cd2479);
  background-image: -ms-linear-gradient(top, #e5579a, #cd2479);
  background-image: -o-linear-gradient(top, #e5579a, #cd2479);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e5579a), to(#cd2479));
  background-image: -webkit-linear-gradient(top, #e5579a, #cd2479);
  background-image: linear-gradient(top, #e5579a, #cd2479);
  text-align:center;
  color:#fff;
  font-size:15px;
  font-weight:bold;
  text-shadow:0 -1px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0,0,0.4) inset;
  -moz-box-shadow:  0 0 3px rgba(0, 0,0,0.4) inset;
  box-shadow:  0 0 3px rgba(0, 0,0,0.4) inset;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.holder {
  overflow:hidden;
  width:222px;
  background:#fff;
  position:relative;
  -webkit-box-shadow: 0 2px 3px rgba(0, 10, 10, 0.38);
  -moz-box-shadow: 0 2px 3px rgba(0, 10, 10, 0.38);
  box-shadow: 0 2px 3px rgba(0, 10, 10, 0.38);
  
} 
.cover {
  height:150px;
  width:100%;
  overflow:hidden;
  margin:0 0 1px 0;
  text-align:center;
  padding:0;
  display:block;
}
.cover img {
  opacity:1;
  border:none;
  text-align:center;
}
.thumbs {
  display:block;
  width:224px;
}
.thumbs img {
  float:left;
  opacity:1;
  height:55px;
  width:55px;
  margin:0 1px 0 0;
}

.content.board_wide {
  width:900px !important;
  float:none !important;
  margin:0 auto !important;
}

/* forms */

.form {
  position:relative;
  border:1px solid #ddd;
  background:#F7F6F6;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 10, 10, 0.38);
  -moz-box-shadow: 0 2px 3px rgba(0, 10, 10, 0.38);
  box-shadow: 0 2px 3px rgba(0, 10, 10, 0.38);
  width:280px;
  margin:20px auto;
  padding:10px;
}
form .field {
  padding: 10px 10px 15px;
}
form .field p {
  color:#333;
  font-size:13px;
  margin:0 0 4px 0;
  padding:0;
}
.form .field input, .form .field textarea {
  display:block;
  width:240px;
  background: none repeat scroll 0 0 white;
  border: 1px solid #D2D2D2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13) inset;
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13) inset;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13) inset;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 10px;
  resize:none;
}
input[placeholder], textarea[placeholder], [placeholder], *[placeholder] {
  color:#898989 !important;
}
input:focus[placeholder], textarea:focus[placeholder], [placeholder], *[placeholder] {
  color:#222 !important;
}
.content form h1 {
  color:#333;
  font-size:22px;
  font-weight:normal;
  margin:0 0 15px;
  padding:0 0 10px 0;
  text-align:center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.content form h2 {
  color:#333;
  font-size:22px;
  font-weight:normal;
  margin:0 0 15px;
  padding:0 0 10px 0;
  text-align:center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.form .submit .btn {
  color:#FFF;
  display:block;
  margin:0 auto 20px auto;
  font-size:18px;
}
.buttons {
  clear:both;
  font-size:13px;
  padding:10px;
}
.buttons a {
  text-decoration:none;
}
.buttons a:hover {
  text-decoration:underline;
}

.form.narrow {
  margin:60px auto;
}

.form.signup:after {
  content:"";
  display:block;
  position:absolute;
  background:transparent url(../images/ui/signup_note.png) 0 0 no-repeat;
  height:210px;
  width:235px;
  top:45px;
  left:-260px;
}
.form.edit_pin {
  margin:0;
  position:absolute;
}
.form.edit_pin:after {
  content:"";
  display:block;
  position:absolute;
  background:transparent url(../images/ui/pin_preview_note.png) 0 0 no-repeat;
  height:210px;
  width:235px;
  top:45px;
  right:-260px;
}
.profile .content #pins.edit_preview_pin {
  margin-left:540px !important;
}

.cat_select {
  position:absolute;
  top:10px;
  right:45px;
  padding:4px 10px;
  font-size:13px;
}
.cat_select option {
  display:block;
}
.cat_main {
  padding:10px 0 0 0;
  font-weight:bold;
}
.sub_cat {
  padding-left:10px;
  font-size:12px;
}
.followers_list {
  width:200px;
  float:left;
  margin:0 0 0 60px;
}
.follow_list .users {
  margin:0;
  padding:0;
  display:block;
  list-style:none;
}
.follow_list .users li {
  margin:0;
  padding:0 0 4px 0;
  position:relative;
}
.follow_list .users .user {
  display:block;
  position:relative;
  min-height:20px;
  padding:5px 10px 5px 60px;
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
  color:#222;
}
.follow_list .users .user:hover {
  color:#E55799;
}
.follow_list .users .user img {
  position:absolute;
  top:5px;
  left:0;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.follow_list .users .user:hover img {
  border:4px solid #CD2479;
  top:1px;
  left:-4px;
}
.follow_list .users span {
  color:#444;
  display:block;
  font-weight:normal;
  font-size:12px;
}
.follow_list .users li .follow_in_list {
  display:none;
  opacity:0;
}
.follow_list .users li:hover .follow_in_list {
  display:block;
  opacity:1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* page modifier styles */

.profile ul.boards li {
  margin:15px 15px 10px 15px;
}
.profile .content #pins {
  margin-left:50px !important;
}
.full_width .wrapper {
  margin:0;
  width:100% !important;
}
.full_width .content {
  width:100% !important;
}
.full_width .content h1 {
  margin:0 50px 10px;
  min-width:1020px;
}
.full_width .content h1 .user {
  text-align:left;
  text-decoration:none;
  font-size:14px;
  margin:0 10px 0 0;
  padding:7px 10px 5px;
  display:block;
  float:left;
  font-family:helvetica,arial,sans-serif;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.full_width .content h1 .user:hover {
  color:#fff;
  background:#E55799;
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
}
.full_width .content h1 .user img {
  display:inline-block;
  vertical-align:middle;
  border-right:1px solid rgba(255,255,255,0.4);
  border-bottom:1px solid rgba(255,255,255,0.4);
}
.full_width .content .timeline li {
  margin:10px 0 14px 15px;
}
.full_width .header {
  width:auto;
}
.profile .follow_list #pins {
  width:500px;
  margin-left:310px !important;
}
.lv_content_dark a, .lv_content_dark a:hover {
  color:#0088CC !important;
}


/* flash messaging */

#flash {
  margin:-20px 0 20px 0;
}
.flashmsg {
  position:relative;
  width:auto;
  background:blue;
  text-align:center;
  font-size:16px;
  padding:10px 0;
  text-shadow:0 1px 0 rgba(255,255,255,0.7);
}
.flashmsg .close {
  position:absolute;
  right:20px;
  top:5px;
  padding:5px;
}
.flashmsg .close:hover {
  cursor:pointer;
}
.flashmsg.success {
  background:#97E8B4;
}
.flashmsg.error {
  background:#FF7A90;
}
.flashmsg.alert {
  background:#9BD5EB;
}


/* footer styles */

.nav_footer {
  float:left;
  margin:0;
  padding:0;
}
.nav_footer li {
  float:left;
  list-style:none;
}
.nav_footer a {
  padding:10px;
  text-decoration:none;
  color:#E55799;
}
.nav_footer a:hover {
  text-decoration:underline;
}




/* layout grid */

.header_wrapper {
  background:#F8F8F8;
  margin:0 0 20px;
  border-bottom:1px dashed #D7D7D7;
}
.header {
  margin:0 auto;
  position:relative;
  width:1020px;
  min-width:1020px;
}

.wrapper {
  margin:0 auto;
  width:1020px;
}
.info {
  float:left;
  position:relative;
  width:195px;
  padding:0 0 30px 0;
  background:transparent url(../images/patterns/debut_light.png) 0 0 repeat;
  -moz-border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  border-radius: 12px 0 0 12px;
  -webkit-box-shadow: 0 2px 3px rgba(34, 25, 25, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(34, 25, 25, 0.3);
  box-shadow: 0 2px 3px rgba(34, 25, 25, 0.3);
}
.content {
  float:left;
  position:relative;
  width:820px;
  margin:0;
}
.board .timeline {
  background:none;
}
#pins {
}

.footer_wrapper {
  background:#F8F8F8;
  overflow:hidden;
  min-height:300px;
  margin:40px 0 0 0;
  border-top:1px dashed #D7D7D7;
}
.footer {
  margin:20px auto;
  width:970px;
  padding:0 25px;
  font-size:13px;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Image replacement helper */

.ir {
  text-indent:-9999px;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
