<div class="featured">
  <div class="featured_blogger">
    <h2>Featured Pinners</h2>
    <% User.get_featured(2).each do |user| %>
      <p>Kyle, you can put placeholder here.</p>
    <% end %>
  </div>
</div>