<div class="set_filters">
  <% unless defined?(for_boards) %>
    <select name="kind" data-base-url-if-blank="<%= params[:controller] == 'pins' && params[:action] == 'index' ? '/pins' : '' %>">
      <%= options_for_select [['All Pin Types', '']] + select_options(Pin::VALID_TYPES), @kind %>
    </select>
  <% end %>

  <select name="category">
    <%= options_for_select([['All Categories', '']] + select_options(Category.all), @category.try(:id)) %>
  </select>
  
  <select name="age_group">
    <%= options_for_select([['All Age Groups', '']] + select_options(AgeGroup.all), @age_group.try(:id)) %>
  </select>
</div>
