<div class="footer_wrapper">
  <div class="footer">
    <ul class="nav_footer">
      <li>
        ParentPins &copy; 2012. All rights reserved.
      </li>
    </ul>
  </div>
</div>
<div id="scroll_to_top"><a href="#header_wrapper">Scroll to top</a></div>
