<div class="footer_wrapper">
  <div class="footer">
    <ul class="nav_footer">
      <li>
        ParentPins.com &copy; <%= Date.today.year %>. All rights reserved.
      </li>
    </ul>
  </div>
</div>
<div id="scroll_to_top"><a href="#top">Scroll to top</a></div>
