<div class="footer_wrapper">
  <div class="footer">
    <ul class="nav_footer">
      <li>
        ParentPins &copy; 2012. All rights reserved.
      </li>
      <li>
        <a href="about.html">About ParentPins</a>
      </li>
      <li>
        <a href="legal.html">Legal</a>
      </li>
      <li>
        <a href="privacy.html">Privacy</a>
      </li>
      <li>
        <a href="contact.html">Contact Us</a>
      </li>
    </ul>
  </div>
</div>
