<div class="sub_header_wrapper">
  <div class="sub_header">
    <button href="pop/modal/with_simple_form" class="btn primary">Change Cover Image</button>
    <%= image_tag @profile.cover_image.url, :class => 'cover_photo' %>
  </div>
</div>