<div class="sub_header_wrapper">
  <div class="sub_header">
    <!-- use a random image from within assets/covers/ until a user defines an image. uploaded images should be cropped to 160x1020 -->
    <button href="pop/modal/with_simple_form" class="btn primary">Change Cover Image</button>
    <img src="assets/covers/1.jpg" class="cover_photo">
  </div>
</div>