window.Global ||= {}

# Define global functions
Global.closeModal = -> 
  if $('#ajax-modal-target:visible').hasClass('update-history')
    if History && History.getState().data.from
      History.replaceState(null, null, History.getState().data.from);
  $('#ajax-modal-target:visible').fadeOut ->
    $(this).removeClass('update-history').empty().show();
  

Global.updateModalContents = (html) ->
  $('#ajax-modal-target:visible .modal_overlay').html(html)
  window['skimlinks'] && skimlinks()

# Only close overlay if click was ON overlay (or various other wrapper elements), not just bubbled up to it.
$(document).on 'click', '.modal_overlay', (e) ->
  Global.closeModal() if $(e.target).hasClass('modal_overlay') || $(e.target).hasClass('wrapper') || $(e.target).hasClass('content')

# Close if escape key pressed
$(document).on 'keyup', (e) ->
  Global.closeModal() if (e.keyCode == 27)

# Add ajax target to body
$ajax = $('#ajax-modal-target').length || $('<div id="ajax-modal-target"></div>').appendTo($('body'))

# Catch clicks on ajax links
$(document).on 'click', 'a.ajax', (e) ->
  if e.metaKey || e.ctrlKey
    return

  e.preventDefault()
  e.stopPropagation()
  
  updateHistory = if $(this).hasClass('update-history')
    $ajax.addClass('update-history')
    true
  else
    $ajax.removeClass('update-history')
    false  
  
  Global.openInModal($(this).attr('href'), {updateHistory: updateHistory})

  
Global.openInModal = (url, opts = {}) ->    
  $ajax.html('<div class="ajax-loader"><img src="<%= asset_path 'ui/loader.gif' %>" alt="Loading" class="loader_icon"/></div>').fadeIn()
    
  if opts.updateHistory
    History.replaceState({from: window.location + ''}, null, url);
    
  finalUrl = urlPlusParamString(url, 'via=ajax')
  $ajax.load finalUrl, () ->
    $ajax.find('input[type=text]:visible').first().focus()
    window['skimlinks'] && skimlinks()