.drag_section_wrapper.clearfix
  %ul.boards
    %li.board{:data => {'board-id' => 'all'}} Show All Pins
    - @boards.each do |board|
      %li.board{:data => {'board-id' => board.id}}= board.name
  
  %ul.pins
    = render :partial => 'pin', :collection => @pins_to_import.select{|p| p.send(attribute_to_set).blank? }
