.drag_section_wrapper.clearfix
  - if @boards.length > 1
    %ul.boards
      %li.selected.board{:data => {'board-id' => 'all'}}
        %span.label Show All Pins
      - @boards.each do |board|
        %li.board{:data => {'board-id' => board.id}}
          %span.label= board.name
          %span.counter
  
  %ul.pins{:class => @boards.length > 1 ? '' : 'no-boards'}
    = render :partial => 'pin', :collection => @pins_to_import.select{|p| p.send(attribute_to_set).blank? }
