.drag_section_wrapper.clearfix
  %ul.boards
    - @boards.each do |board|
      %li.board{:data => {'board-id' => board.id}}= board.name
  
  %ul.pins
    - @pins_to_import.each do |pin|
      %li.pin{:class => "board_#{pin.board_id}", :data => {:attributes => pin.import_json}}
        = image_tag pin.remote_image_url || pin.cached_remote_image_url
