.drop_section_wrapper.clearfix{:data => {:extra_key => attribute_to_set}}
  %ul.drop_sections
    - droppables.each do |key, value, description|
      = render 'drop_section_li', :key => key, :value => value, :description => description, :attribute_to_set => attribute_to_set

  - if attribute_to_set == :board_id
    - if droppables.blank?
      .boards-needed
        %h2 You'll need to create a ParentPins board first
        %p You're importing pins from Pinterest -- we need to know where you want to put them.

    .board-actions
      = link_to 'Add Board', new_profile_board_path(current_user), :class => 'ajax btn btn-success'