%li.pin.board-all{:class => "board-#{board.id}", :data => {'pin-id' => pin.id, 'pin-url' => pin.url, 'pin-image' => pin.image_filename}}
  .thumb= image_tag pin.cached_remote_small_image_url, :alt => "Pin Image"
  .clearfix
