%li.pin.board_all{:class => "board_#{pin.board_id}", :data => {:attributes => pin.import_json}}
  = image_tag pin.remote_image_url || pin.cached_remote_image_url
  .hover_info 
    .board_name= pin.board.name
    .pin_desc= pin.description
