.progress_wrapper
  %h3
    - if defined?(title)
      = title
  %ol.import_progress
    - unless step == 5 
      %li{:class => progress_class(step, 1)} 
        %span 1.
        Select External Pins
      = previous_link step, 2 do
        %li{:class => progress_class(step, 2)}
          %span 2.
          Assign Pin Types
      = previous_link step, 3 do
        %li{:class => progress_class(step, 3)}
          %span 3.
          Assign Age Groups
      %li{:class => progress_class(step, 4)}
        %span 4.
        Finalize and Import

