%ol.import_progress
  %li{:class => step == 1 ? 'current' : ''} Select External Pins
  %li{:class => step == 2 ? 'current' : ''} Assign Pin Types
  %li{:class => step == 3 ? 'current' : ''} Assign Age Groups
  %li{:class => step == 4 ? 'current' : ''} Confirm and Import

%h1 
  Importing #{pluralize @pins_to_import.length, 'pin', 'pins'} to
  #{@boards.length == 1 ? 'one board' : "#{@boards.length} boards"}