<div class="import_completed">
  <h1>Import Completed</h1>

  <div class="centered">
    You can return to the original page by pressing Close in the upper right hand corner of the screen.
  </div>

  <div class="instructions">
    <strong>Next Steps:</strong>
    <ul>
      <li><%= link_to 'View your newly-imported pins', pins_profile_url(current_user), :target => '_top' %></li>
      <li><%= link_to_function 'Go back and import more pins', 'window.previousStep()' %></li>
    </ul>
  </div>
</div>

<% content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    importedPins("<%= escape_javascript(Pin.json_for_pins(@imported).html_safe) %>");
    importCompleted();
  </script>
<% end %>