= render 'progress', :step => 5, :title => "You imported #{pluralize @pins.length, 'pin', 'pins'}!"

= render 'pins/pins'

- if params[:just_completed]
  - content_for :footer_js do
    :javascript
      importedPins("#{escape_javascript Pin.json_for_pins(@pins)}");
      importCompleted();
