= render 'progress', :step => 5, :title => "You imported #{pluralize @pins.length, 'pin', 'pins'}!"

= render 'pins/pins'

- content_for :footer_js do
  :javascript
    importedPins("#{escape_javascript Pin.json_for_pins(@imported)}");
    importCompleted();
