= render 'progress', :step => 4, :title => "Congrats -- you've just imported #{pluralize @pins.length, 'pin', 'pins'}!"

= render 'pins/pins'

- content_for :footer_js do
  :javascript
    importedPins("#{escape_javascript Pin.json_for_pins(@imported)}");
    importCompleted();
