<!-- use this view for edit pin as well -->

<div class="wrapper profile">

  <div class="content board board_wide">
    <form method="post" id="new_session" class="form narrow edit_pin" action="/sessions">
      <h1>Add Your Pin</h1>
      <div class="field">
        <label>Pin Title</label>
        <input type="text" name="pin[title]" id="pin_title">
      </div>
      <div class="field">
        <label>Type of Pin</label>
        <select class="modal_select">
          <option>Originally selected type here</option>
          <option class="sub_main">Article</option>
          <option class="sub_main">Gift</option>
          <option class="sub_main">Idea</option>
          <option class="sub_main">General Pin</option>
        </select>
      </div>
      <div class="field">
        <label>Select a Category</label>
        <select class="modal_select">
          <option>Selected Category</option>
          <option class="sub_main">Category One</option>
          <option class="sub_main">Category Two</option>
          <option class="sub_main">Category Three</option>
        </select>
      </div>
      <div class="field">
        put image uploader here.
      </div>
      <div class="field">
        <label>Pin to Which Board? <a href="#">New board</a></label>
        <select class="modal_select">
          <option>Selected Board</option>
          <option>Board One</option>
          <option>Board Two</option>
          <option>Board Three</option>
        </select>
      </div>
      <div class="field">
        <label>Select an Age Group</label>
        <select class="modal_select">
          <option>Selected Group</option>
          <option class="sub_main">Group One</option>
          <option class="sub_main">Group Two</option>
          <option class="sub_main">Group Three</option>
        </select>
      </div>
      <div class="field">
        <label>Description...</label>
        <textarea type="text" placeholder="First few sentences please, this Pin will link to the full article" name="user[username]" id="user_short_bio"></textarea>
      </div>
      <div class="field">
        <label>Price</label>
        <input type="text" placeholder="$0.00" name="pin[price]" id="pin_price">
      </div>
      <div class="submit">
        <input type="submit" value="Save Pin" name="commit" class="btn tertiary_action">
      </div>
      <div class="buttons">
        <a href="#l">Delete this Pin</a>
      </div>
    </form>
    
    
    <ul class="timeline edit_preview_pin" id="pins">
      <!-- Image max-widths should be 320px maintianing aspect ratio with flexible height -->
      <!-- timeline center dot alignments need work to match masonry configuration -->
      <li class="left pin article">
        <div class="gift_price">$0.00</div>
        <div class="pin_image_holder">No Image Yet</div>
        <p class="description"><a href="specific_pin.html"><strong class="article">Article:</strong> title of the pinned article goes here</a></p>
        <div class="stats">
          <span class="like_count">0 likes</span>
          <span class="comment_count">0 comments</span>
          <span class="repins_count">0 repins</span>
        </div>
        <div class="attribution">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">Posting User's Name</a>
          </p>
        </div>
      </li>
    </ul>

  </div>

  <div class="clearfix"></div>

</div>