<!-- use this view for edit pin as well -->

<div class="wrapper profile">

  <div class="content board board_wide">
    <form method="post" id="new_session" class="form narrow edit_board" action="/sessions">
      <h1>Add Your Board</h1>
      <div class="field">
        <label>Board Name</label>
        <input type="text" name="pin[title]" id="pin_title" placeholder="Be Specific &amp; Creative!">
      </div>
      <div class="field">
        <label>Select a Category</label>
        <select class="modal_select">
          <option>Selected Category</option>
          <option class="sub_main">Category One</option>
          <option class="sub_main">Category Two</option>
          <option class="sub_main">Category Three</option>
        </select>
      </div>
      <div class="field">
        <label>Select an Age Group</label>
        <select class="modal_select">
          <option>Selected Group</option>
          <option class="sub_main">Group One</option>
          <option class="sub_main">Group Two</option>
          <option class="sub_main">Group Three</option>
        </select>
      </div>
      <div class="field">
        <label>Description...</label>
        <textarea type="text" placeholder="First few sentences please, this Pin will link to the full article" name="user[username]" id="user_short_bio"></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Save Pin" name="commit" class="btn tertiary_action">
      </div>
    </form>
    
  </div>

  <div class="clearfix"></div>

</div>