<div class="wrapper">
        
    <div class="content">
      <h1>Trending Boards</h1>
      <select class="cat_select">
        <option>All boards</option>
        <option class="sub_main">Category One</option>
        <option class="sub_cat">Sub Category One</option>
        <option class="sub_cat">Sub Category Two</option>
        <option class="sub_cat">Sub Category Three</option>
        <option class="sub_cat">Sub Category Four</option>
        <option class="sub_main">Category Two</option>
        <option class="sub_cat">Sub Category One</option>
        <option class="sub_cat">Sub Category Two</option>
        <option class="sub_cat">Sub Category Three</option>
        <option class="sub_cat">Sub Category Four</option>
        <option class="sub_main">Category Three</option>
        <option class="sub_main">Category Four</option>
        <option class="sub_cat">Sub Category One</option>
        <option class="sub_cat">Sub Category Two</option>
        <option class="sub_main">Category Five</option>
        <option class="sub_cat">Sub Category One</option>
        <option class="sub_cat">Sub Category Two</option>
        <option class="sub_cat">Sub Category Three</option>
      </select>
      <ul class="boards">
        <li class="board">
          <h3><a href="profile_specific_board.html">Board title Here</a></h3>
          <h4><a href="profile_recent.html"><img src="/assets/temp/avatar_50.jpg"> User Name Here</a></h4>
          <div class="holder">
            <a href="/board/board_id/path" class="link"></a>
            <div class="cover">
              <img src="/assets/temp/board_image_1.jpg" class="board_image">
            </div>
            <div class="thumbs">
              <img src="/assets/temp/board_thumb_1.jpg" class="board_image">
            </div>
            <div class="description">
              <p>This is a description of this board. We should truncate the content of this description in css so that all of the content within it is able to be read by screen readers and google indexing. This is important to our users as well. 250 character limit.</p>
            </div>
          </div>
        </li>
        <li class="board">
          <h3><a href="profile_specific_board.html">Board title Here</a></h3>
          <h4><a href="profile_recent.html"><img src="/assets/temp/avatar_50.jpg"> User Name Here</a></h4>
          <div class="holder">
            <a href="/board/board_id/path" class="link"></a>
            <div class="cover">
              <img src="/assets/temp/board_image_1.jpg" class="board_image">
            </div>
            <div class="thumbs">
              <img src="/assets/temp/board_thumb_1.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_2.jpg" class="board_image">
            </div>
            <div class="description">
              <p>This is a description of this board. We should truncate the content of this description in css so that all of the content within it is able to be read by screen readers and google indexing. This is important to our users as well. 250 character limit.</p>
            </div>
          </div>
        </li>
        <li class="board">
          <h3><a href="profile_specific_board.html">Board title Here</a></h3>
          <h4><a href="profile_recent.html"><img src="/assets/temp/avatar_50.jpg"> User Name Here</a></h4>
          <div class="holder">
            <a href="/board/board_id/path" class="link"></a>
            <div class="cover">
              <img src="/assets/temp/board_image_1.jpg" class="board_image">
            </div>
            <div class="thumbs">
              <img src="/assets/temp/board_thumb_1.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_2.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_3.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_4.jpg" class="board_image">
            </div>
            <div class="description">
              <p>This is a description of this board. We should truncate the content of this description in css so that all of the content within it is able to be read by screen readers and google indexing. This is important to our users as well. 250 character limit.</p>
            </div>
          </div>
        </li>
        <li class="board">
          <h3><a href="profile_specific_board.html">Board title Here</a></h3>
          <h4><a href="profile_recent.html"><img src="/assets/temp/avatar_50.jpg"> User Name Here</a></h4>
          <div class="holder">
            <a href="/board/board_id/path" class="link"></a>
            <div class="cover">
              <img src="/assets/temp/board_image_1.jpg" class="board_image">
            </div>
            <div class="thumbs">
              <img src="/assets/temp/board_thumb_1.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_2.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_3.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_4.jpg" class="board_image">
            </div>
            <div class="description">
              <p>This is a description of this board. We should truncate the content of this description in css so that all of the content within it is able to be read by screen readers and google indexing. This is important to our users as well. 250 character limit.</p>
            </div>
          </div>
        </li>
        <li class="board">
          <h3><a href="profile_specific_board.html">Board title Here</a></h3>
          <h4><a href="profile_recent.html"><img src="/assets/temp/avatar_50.jpg"> User Name Here</a></h4>
          <div class="holder">
            <a href="/board/board_id/path" class="link"></a>
            <div class="cover">
              <img src="/assets/temp/board_image_1.jpg" class="board_image">
            </div>
            <div class="thumbs">
              <img src="/assets/temp/board_thumb_1.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_2.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_3.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_4.jpg" class="board_image">
            </div>
            <div class="description">
              <p>This is a description of this board. We should truncate the content of this description in css so that all of the content within it is able to be read by screen readers and google indexing. This is important to our users as well. 250 character limit.</p>
            </div>
          </div>
        </li>
        <li class="board">
          <h3><a href="profile_specific_board.html">Board title Here</a></h3>
          <h4><a href="profile_recent.html"><img src="/assets/temp/avatar_50.jpg"> User Name Here</a></h4>
          <div class="holder">
            <a href="/board/board_id/path" class="link"></a>
            <div class="cover">
              <img src="/assets/temp/board_image_1.jpg" class="board_image">
            </div>
            <div class="thumbs">
              <img src="/assets/temp/board_thumb_1.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_2.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_3.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_4.jpg" class="board_image">
            </div>
          </div>
        </li>
        <li class="board">
          <h3><a href="profile_specific_board.html">Board title Here</a></h3>
          <h4><a href="profile_recent.html"><img src="/assets/temp/avatar_50.jpg"> User Name Here</a></h4>
          <div class="holder">
            <a href="/board/board_id/path" class="link"></a>
            <div class="cover">
              <img src="/assets/temp/board_image_1.jpg" class="board_image">
            </div>
            <div class="thumbs">
              <img src="/assets/temp/board_thumb_1.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_2.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_3.jpg" class="board_image">
              <img src="/assets/temp/board_thumb_4.jpg" class="board_image">
            </div>
            <div class="description">
              <p>This is a description of this board. We should truncate the content of this description in css so that all of the content within it is able to be read by screen readers and google indexing. This is important to our users as well. 250 character limit.</p>
            </div>
          </div>
        </li>
      </ul>
      
      <div class="clearfix"></div>
      
      <!-- thinking we show load more button after 20 boards. load time will be effected by this choice. -->
      <a href="#" class="btn action load_more_button tertiary_action">Load More</a>
      
      <img src="/assets/ui/loader.gif" alt="loading icon" class="loader_icon"/>
    </div>
    
    <div class="clearfix"></div>
    
</div>
