<div class="wrapper general">
        
    <div class="content">
      <h1>Interesting Pins Just for Parents</h1>
      
      <h2>Overview</h2>
      <p>This is a purely front end build out of all the pages, modals, and states needed to create ParentPins core site. Includes html, css, and javascript. Will later convert to Ruby on Rails using Haml/Sass.</p>
      <p>This site is basically Pinterest for parents interested in great finds for to help their children. ParentPins uses the concept of 4 buckets of Pins; Article, Gift, Idea and General Pin types. ParentPins also has a very small taxonomy applied which creates top level categories to be used in search and general board browsing.</p>
      <p>Will be monetized through the use of <a href="http://www.skimlinks.com/" title="link out to html5 boilerplate site">skimlinks.com</a> API product feed in order to supply an onsite store with products.</p>
      
      <h2>Site Map</h2>
      <h3>Top Level Pages</h3>
      <ul class="help_list">
        <li>
          <a href="recent_pins.html">Recent Pins</a>
        </li>
        <li>
          <a href="board_landing.html">Boards landing</a>
        </li>
        <li>
          <a href="board.html">Board</a>
          <em>Stand alone board - not in a user profile. Shown when a link is clicked anywhere but from inside a users profilea.</em>
        </li>
        <li>
          <a href="articles.html">Articles landing</a>
        </li>
        <li>
          <a href="login.html">Log In</a>
        </li>
        <li>
          <a href="signup.html">Sign Up</a>
          <em>Click on the "create account" button to view _modal_signup_2.erb modal. within that modal, click on "skip this" to go to pofile</em>
        </li>
      </ul>
      <h3>Secondary Pages</h3>
      <ul class="help_list">
        <li>
          <a href="profile_recent_empty.html">Profile - Recent Pins - First Login</a>
          <em>Shows User in state after they first sign up and have not taken an action.</em>
          <em>Hover any pin and click "edit" to view this modal.</em>
        </li>
        <li>
          <a href="profile_recent.html">Profile - Recent Pins</a>
          <em>Shows a logged in user who has pinned items</em>
        </li>
        <li>
          <a href="profile_recent.html">Profile - Likes</a>
          <em>Shows a list of items user has liked.</em>
        </li>
        <li>
          <a href="profile_boards.html">Profile - User Boards</a>
        </li>
        <li>
          <a href="profile_specific_board.html">Profile - User Specific Board</a>
          <em>shown when a user clicks on the other users board from within their profile. all other boards use /board.html layout.</em>
        </li>
        <li>
          <a href="profile_followers.html">Profile - Followers</a>
          <em>shows users who are following the logged in user</em>
        </li>
        <li>
          <a href="profile_following.html">Profile - Following</a>
          <em>shows users the logged is following</em>
        </li>
      </ul>
      
      <h3>Where to find other things</h3>
      <ul class="help_list">
        <li>
          <a href="signup.html">Modal w/ form - on sign up</a>
          <em>click on "Create Your Account" on this page to see mmodal form example.</em>
        </li>
        <li>
          <a href="profile_recent_empty.html">Modal w/ edit pin form - on profile pins first login page</a>
          <em>Hover any item, then click "edit".</em>
        </li>
        <li>
          <a href="profile_recent_empty.html">Logged in main navigation - profile pins first login page</a>
          <em>Only page to show the logged user nav with drop down links.</em>
        </li>
        <li>
          <button href="#pinly_overlay_1" class="pinly_toggle btn primary">Show Article pin overlay</button>
          <em>Pops up above this button</em>
          <em>Will need to think about how to center this in the browser</em>
        </li>
      </ul>
      
      <h3>Additional Pages</h3>
      <ul class="help_list">
        <li>
          <a href="parts.html">Parts &amp; Pieces</a>
          <em>Coming Soon... a page which shows a lot of functionality needed throughout the site. e.g. messaging alerts options</em>
        </li>
      </ul>
      
      <h3>Images Sizes</h3>
      <ul class="help_list">
        <li>
          <strong>Pinned Image</strong>
          <em>Used in the following sizes:</em>
          <em>1. maximum width:500px, height: flexible (used on pin specific page)</em>
          <em>2. 192 wide x flex height (used on pin boards)</em>
          <em>3. 55 x 55 (used on board thumbnails)</em>
        </li>
        <li>
          <strong>Avatars</strong>
          <em>Used in the following sizes:</em>
          <em>120 x 120 (main avatar on profile)</em>
          <em>50 x 50 (when following or followers)</em>
          <em>18 x 18 (board listing thumbnails)</em>
        </li>
      </ul>
      
      
      <h2>Third Party Usage</h2>
      <p>base html is <a href="http://html5boilerplate.com/" title="link out to html5 boilerplate site">HTML5 Boilerplate</a> v 4.0.2.</p>
      <p>base javascript is <a href="http://jquery.com" title="link out to jquery home page">jquery.js</a> v 1.8.2. <a href="http://jquery.com/download/" title="link out to jquery home page">Download it here</a>.</p>
      <p>Modal javascript is <a href="http://projects.nickstakenburg.com/lightview" title="link out to lightview">lightview.js</a> v 3.2.7.</p>
      <p>Pinterest style box stacking javascript is <a href="http://masonry.desandro.com/" title="link out to masonry home page">jquery.Masonry.js </a> v2.1.06. Great supporting articles: <a href="http://designshack.net/articles/css/masonry/" title="link out to article">Three Super Easy Ways to Pull Off a Masonry Layout</a>, and <a href="http://www.netmagazine.com/tutorials/get-started-jquery-masonry" title="link out to article">Get started with jQuery Masonry</a>.</p>
      <p>Plan to include responsive design, hand rolled, with media queries. Need to research pixel width break points for mobile devices and tablets. May base this off of <a href="http://twitter.github.com/bootstrap/" title="link out to bootstrap">twitter bootstrap</a> for reference.</p>
      
      <h2>Useful Tools</h2>
      <p>CSS 3 Generator: <a href="http://www.css3.me/" title="link out to html5 boilerplate site">WYSIWYG cross browser CSS3 tool</a>. <em>Supports some legacy browsers (IE filters, etc.)</em></p>
      <p>Convert to haml: <a href="http://html2haml.heroku.com/" title="link out to heroku site">copy and paste html to convert to haml tool</a>.</p>
      <p>Convert to sass: <a href="http://css2sass.heroku.com/" title="link out to heroku site">copy and paste css to convert to sass tool</a>.</p>
      
    </div>
    
    <div class="clearfix"></div>
    
</div>

<div class="pinly_overlay" id="pinly_overlay_1" style="display:none;">
  <div class="pinly article" id="pinly_article">
    <!-- pin_type can be Article, Gift or Idea -->
    <div class="pin_type">Article</div>
    <div class="attribute">
      <a href="#" class="avatar_link"><img src="/assets/temp/avatar_50.jpg"></a>
      <div class="attribute_info">
        <p><a href="#">User Name</a> via <a href="#">Other user Name</a></p>
        <p class="time">about 1 hour ago from <a href="#">board name</a></p>
      </div>
    </div>
    <div class="detail">
    <h2><a href="#">Title of the Article pin goes here</a></h2>
    <p><a href="#">http://some_site_domain.com/item/path/url/here.html</a></p>
    <div class="stats">
      <span class="like_count">2 likes</span>
      <span class="comment_count">3 comments</span>
      <span class="repins_count">4 repins</span>
    </div>
    <div class="actions">
      <a class="btn sec_action repin_button" href="/pin/pin_id/repin/">Repin</a>
      <a class="btn sec_action like_button" href="#">Like</a>
      <a class="btn sec_action comment_button" href="#pinly_comment">Comment</a>
    </div>
    <a href="#" class="image_link">
      <div class="price">$19.99</div>
      <img src="/assets/temp/art_large.jpg">
    </a>
    <p>This site is basically Pinterest for parents interested in great finds for to help their children. ParentPins uses the concept of 4 buckets of Pins; Article, Gift, Idea and General Pin types. ParentPins also has a very small taxonomy applied which creates top level categories to be used in search and general board browsing.</p>
    <p>Originally posted by <a href="#">User Name</a> 
      <a href="#" class="btn action follow">follow</a>
    </p>
    <div class="comments" id="pinly_comment">
      <div class="comment">
        <a href="#" class="avatar_link"><img src="/assets/temp/avatar_50.jpg"></a>
        <div class="user_info">
          <a href="#">User Name</a>
          <p>User comment here for length</p>
        </div>
      </div>
      <div class="comment">
        <a href="#" class="avatar_link"><img src="/assets/temp/avatar_50.jpg"></a>
        <div class="user_info">
          <a href="#">User Name</a>
          <p>User comment here for length</p>
        </div>
      </div>
      
      <div class="comment_form">
        <form>
          <a href="#" class="avatar_link"><img src="/assets/temp/avatar_50.jpg"></a>
          <textarea placeholder="Enter your comment..."></textarea>
          <button type="button" class="btn sec_action comment_button">Comment</button>
        </form>
      </div>
    </div>
  </div>
    <div class="clearfix"></div>
  </div>
</div>
