<div class="wrapper general">
        
    <div class="content">
      <h1>Interesting Pins Just for Parents</h1>
      
      <h2>Overview</h2>
      <p>This is a purely front end build out of all the pages, modals, and states needed to create ParentPins core site. Includes html, css, and javascript. Will later convert to Ruby on Rails using Haml/Sass.</p>
      <p>This site is basically Pinterest for parents interested in great finds for to help their children. ParentPins uses the concept of 4 buckets of Pins; Article, Gift, Idea and General Pin types. ParentPins also has a very small taxonomy applied which creates top level categories to be used in search and general board browsing.</p>
      <p>Will be monetized through the use of <a href="http://www.skimlinks.com/" title="link out to html5 boilerplate site">skimlinks.com</a> API product feed in order to supply an onsite store with products.</p>
      
      <h2>Site Map</h2>
      <h3>Top Level Pages</h3>
      <ul class="help_list">
        <li>
          <a href="signup.html">Sign Up</a>
          <em>Click on the "create account" button to view _modal_signup_2.erb modal. within that modal, click on "skip this" to go to pofile</em>
        </li>
      </ul>
      
      <h3>Where to find other things</h3>
      <ul class="help_list">
        <li>
          <button href="#pinly_overlay_1" class="pinly_toggle btn primary">Show Article pin overlay</button>
          <em>Hand built pin overlay</em>
          <em>will need to add js to close overlay on click</em>
        </li>
      </ul>
        
      <h3>Images Sizes</h3>
      <ul class="help_list">
        <li>
          <strong>Cover Photos</strong>
          <em>Reduce to only 1 size:</em>
          <em>1020x160</em>
          <em>Possibly remove meta data from image and run optimization on it automatically.</em>
        </li>
      </ul>
      
      
      <h2>Third Party Usage</h2>
      <p>base html is <a href="http://html5boilerplate.com/" title="link out to html5 boilerplate site">HTML5 Boilerplate</a> v 4.0.2.</p>
      <p>base javascript is <a href="http://jquery.com" title="link out to jquery home page">jquery.js</a> v 1.8.2. <a href="http://jquery.com/download/" title="link out to jquery home page">Download it here</a>.</p>
      <p>Modal javascript is <a href="http://projects.nickstakenburg.com/lightview" title="link out to lightview">lightview.js</a> v 3.2.7.</p>
      <p>Pinterest style box stacking javascript is <a href="http://masonry.desandro.com/" title="link out to masonry home page">jquery.Masonry.js </a> v2.1.06. Great supporting articles: <a href="http://designshack.net/articles/css/masonry/" title="link out to article">Three Super Easy Ways to Pull Off a Masonry Layout</a>, and <a href="http://www.netmagazine.com/tutorials/get-started-jquery-masonry" title="link out to article">Get started with jQuery Masonry</a>.</p>
      <p>Plan to include responsive design, hand rolled, with media queries. Need to research pixel width break points for mobile devices and tablets. May base this off of <a href="http://twitter.github.com/bootstrap/" title="link out to bootstrap">twitter bootstrap</a> for reference.</p>
      
      <h2>Useful Tools</h2>
      <p>CSS 3 Generator: <a href="http://www.css3.me/" title="link out to html5 boilerplate site">WYSIWYG cross browser CSS3 tool</a>. <em>Supports some legacy browsers (IE filters, etc.)</em></p>
      <p>Convert to haml: <a href="http://html2haml.heroku.com/" title="link out to heroku site">copy and paste html to convert to haml tool</a>.</p>
      <p>Convert to sass: <a href="http://css2sass.heroku.com/" title="link out to heroku site">copy and paste css to convert to sass tool</a>.</p>
      
    </div>
    
    <div class="clearfix"></div>
    
</div>

<div class="pinly_overlay" id="pinly_overlay_1" style="display:none;">
  <div class="pinly article" id="pinly_article">
    <!-- pin_type can be Article, Gift or Idea -->
    <div class="pin_type">Article</div>
    <div class="attribute">
      <a href="#" class="avatar_link"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"></a>
      <div class="attribute_info">
        <p><a href="#">User Name</a> via <a href="#">Other user Name</a></p>
        <p class="time">about 1 hour ago from <a href="#">board name</a></p>
      </div>
    </div>
    <div class="detail">
    <h2><a href="#">Title of the Article pin goes here</a></h2>
    <p><a href="#">http://some_site_domain.com/item/path/url/here.html</a></p>
    <div class="stats">
      <span class="like_count">2 likes</span>
      <span class="comment_count">3 comments</span>
      <span class="repins_count">4 repins</span>
    </div>
    <div class="actions">
      <a class="btn sec_action repin_button" href="/pin/pin_id/repin/">Repin</a>
      <a class="btn sec_action like_button" href="#">Like</a>
      <a class="btn sec_action comment_button" href="#pinly_comment">Comment</a>
    </div>
    <a href="#" class="image_link">
      <div class="price">$19.99</div>
      <img src="/assets/images/fallback/pin_image/default.jpg">
    </a>
    <p>This site is basically Pinterest for parents interested in great finds for to help their children. ParentPins uses the concept of 4 buckets of Pins; Article, Gift, Idea and General Pin types. ParentPins also has a very small taxonomy applied which creates top level categories to be used in search and general board browsing.</p>
    <p>Originally posted by <a href="#">User Name</a> 
      <a href="#" class="btn action follow">follow</a>
    </p>
    <div class="comments" id="pinly_comment">
      <div class="comment">
        <a href="#" class="avatar_link"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"></a>
        <div class="user_info">
          <a href="#">User Name</a>
          <p>User comment here for length</p>
        </div>
      </div>
      <div class="comment">
        <a href="#" class="avatar_link"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"></a>
        <div class="user_info">
          <a href="#">User Name</a>
          <p>User comment here for length</p>
        </div>
      </div>
      
      <div class="comment_form">
        <form>
          <a href="#" class="avatar_link"><img src="/assets/images/fallback/user_avatar/v50_default.jpg"></a>
          <textarea placeholder="Enter your comment..."></textarea>
          <button type="button" class="btn sec_action comment_button">Comment</button>
        </form>
      </div>
    </div>
  </div>
    <div class="clearfix"></div>
  </div>
</div>
