<div class="wrapper general">
        
    <div class="content">
      
      <h3>Where to find other things</h3>
      <ul class="help_list">
        <li>
          <button href="#pinly_overlay_1" class="pinly_toggle btn primary">Show Article pin overlay</button>
          <em>Hand built pin overlay</em>
          <em>will need to add js to close overlay on click</em>
        </li>
      </ul>        
    </div>
    
    <div class="clearfix"></div>
    
</div>