<div class="wrapper profile">

  <div class="content board board_wide">
    <form method="post" id="new_session" class="form narrow" action="/sessions">
      <h1>Login to Your Account</h1>
      <div class="field">
        <input type="text" placeholder="User name" name="user[username]" id="user_username">
      </div>
      <div class="field">
        <input type="password" placeholder="Password" name="user[password]" id="user_password">
      </div>
      <div class="submit">
        <input type="submit" value="Log in" name="commit" class="btn tertiary_action">
      </div>
      <div class="buttons">
        <a href="#">forgot password?</a>
        <p><a href="signup.html">Don't have an account? Sign up</a></p>
      </div>
    </form>
  </div>

  <div class="clearfix"></div>

</div>
