<div class="wrapper profile">

  <div class="content board board_wide">
    <form method="post" id="new_session" class="form narrow edit_pin" action="/sessions">
      <h1>Edit Your Pin</h1>
      <div class="field">
        <p>Pin Title</p>
        <input type="text" placeholder="Originally Input Pin Title Here" name="pin[title]" id="pin_title">
      </div>
      <div class="field">
        <p>Type of Pin</p>
        <select class="modal_select">
          <option>Originally selected type here</option>
          <option class="sub_main">Article</option>
          <option class="sub_main">Gift</option>
          <option class="sub_main">Idea</option>
          <option class="sub_main">General Pin</option>
        </select>
      </div>
      <div class="field">
        <p>Select a category</p>
        <select class="modal_select">
          <option>Selected Category</option>
          <option class="sub_main">Category One</option>
        </select>
      </div>
      <div class="field">
        <p>Article Content...</p>
        <textarea type="text" placeholder="First few sentences please, this Pin will link to the full article" name="user[username]" id="user_short_bio"></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Save Pin" name="commit" class="btn tertiary_action">
      </div>
      <div class="buttons">
        <a  href="#">Cancel</a>
      </div>
    </form>
    <ul class="timeline edit_preview_pin" id="pins">
      <!-- Image max-widths should be 320px maintianing aspect ratio with flexible height -->
      <!-- timeline center dot alignments need work to match masonry configuration -->
      <li class="left pin article">
        <a href="specific_pin.html" class="image_link">
          <img src="/assets/temp/art_2.jpg" class="pin_image">
        </a>
        <p class="description"><a href="specific_pin.html"><strong class="article">Article:</strong> title of the pinned article goes here</a></p>
        <div class="stats">
          <span class="like_count">2 likes</span>
          <span class="comment_count">3 comments</span>
          <span class="repins_count">4 repins</span>
        </div>
        <div class="attribution">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">User Name 1</a>
            via
            <a href="/path_to_user_profile">Stacy of KSW</a>
            onto
            <a href="/path_to/user_board">Name of user's board</a>
          </p>
        </div>
        <div class="comment">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
        </div>
      </li>
    </ul>

  </div>

  <div class="clearfix"></div>

</div>