<div class="wrapper profile">

  <div class="content board board_wide">
    <form method="post" id="new_session" class="form narrow signup" action="/sessions">
      <h1>Last Step, Personalize Your KidPin Experience</h1>
      <div class="field">
        <p>Select at least one Kid Interest</p>
        <select class="modal_select">
          <option>All boards</option>
          <option class="sub_main">Category One</option>
          <option class="sub_cat">Sub Category One</option>
          <option class="sub_cat">Sub Category Two</option>
          <option class="sub_cat">Sub Category Three</option>
          <option class="sub_cat">Sub Category Four</option>
          <option class="sub_main">Category Two</option>
          <option class="sub_cat">Sub Category One</option>
          <option class="sub_cat">Sub Category Two</option>
          <option class="sub_cat">Sub Category Three</option>
          <option class="sub_cat">Sub Category Four</option>
          <option class="sub_main">Category Three</option>
          <option class="sub_main">Category Four</option>
          <option class="sub_cat">Sub Category One</option>
          <option class="sub_cat">Sub Category Two</option>
          <option class="sub_main">Category Five</option>
          <option class="sub_cat">Sub Category One</option>
          <option class="sub_cat">Sub Category Two</option>
          <option class="sub_cat">Sub Category Three</option>
        </select>
      </div>
      <div class="field">
        <p>How Many Kids do you have?</p>
        <input type="text" placeholder="1, 2, more?" name="user[username]" id="user_kid_count">
      </div>
      <div class="field">
        <p>Write something about yourself...</p>
        <textarea type="text" placeholder="Ex: I'm always checking out KinPins for great ideas on healty recipes..." name="user[username]" id="user_short_bio"></textarea>
      </div>
      <div class="submit">
        <input type="submit" value="Finish, Go to Profile &rarr;" name="commit" class="btn tertiary_action">
      </div>
      <div class="buttons">
        <a  href="profile_recent_empty.html">skip this</a>
      </div>
    </form>
  </div>

  <div class="clearfix"></div>

</div>

