<%= render 'shared/profileheader' %>

<div class="wrapper profile">

  <div class="info">
    <!-- Following button interaction -->
    <!--if not following -->
    <a href="#" class="btn action follow">follow</a>
    <!--if following 
    <a href="#" class="btn action unfollow">following</a> -->
    <a href="profile.html" class="avatar"><img src="/assets/temp/avatar.jpg"></a>
    <h2>User Name</h2>
    <ul class="nav_profile">
      <li>
        <a href="profile_activity.html" class="activity">Activity</a>
      </li>
      <li>
        <a href="profile_recent.html" class="recent">1,568 Pins</a>
      </li>
      <li>
        <a href="profile_likes.html" class="likes active">14 Likes</a>
      </li>
      <li>
        <a href="profile_boards.html" class="boards">6 Boards</a>
      </li>
      <li>
        <a href="profile_followers.html" class="followers">116 Followers</a>
      </li>
      <li>
        <a href="profile_following.html" class="following"> 87 Following</a>
      </li>
    </ul>
    <p class="kid_count">Has 3 kids</p>
    <p class="bio">I love my kid and I love this site. Great place to find out about parenting tips, great toys, education and more.</p>
  </div>

  <div class="content">
    <h1><span>User Name</span>Liked these Pins</h1>
    <select class="cat_select">
      <option>All Pins</option>
      <option>Articles</option>
      <option>Gifts</option>
      <option>Ideas</option>
    </select>
    <ul class="timeline" id="pins">
      <!-- Image max-widths should be 320px maintianing aspect ratio with flexible height -->
      <!-- timeline center dot alignments need work to match masonry configuration -->
      <li class="left pin">
        <div class="actions">
          <a href="/pin/pin_id/repin/" class="btn sec_action repin_button">Repin</a>
          <a href="#" class="btn sec_action like_button">Like</a>
          <a href="#" class="btn sec_action comment_button">Comment</a>
        </div>
        <a href="specific_pin.html" class="image_link">
          <img src="/assets/temp/art_2.jpg" class="pin_image">
        </a>
        <p class="description"><a href="specific_pin.html">title of the pinned item goes here</a></p>
        <div class="stats">
          <span class="like_count">2 likes</span>
          <span class="comment_count">3 comments</span>
          <span class="repins_count">4 repins</span>
        </div>
        <div class="attribution">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">User Name 1</a>
            via
            <a href="/path_to_user_profile">Stacy of KSW</a>
            onto
            <a href="/path_to/user_board">Name of user's board</a>
          </p>
        </div>
        <div class="comment">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <form method="POST" action="/pin/pin_id/comment/">
            <input class="pin_comment_replies" type="hidden" name="replies">
            <textarea class="add_comment" placeholder="Add a comment..." maxlength="1000"></textarea>
            <button class="Button WhiteButton Button11 grid_comment_button" type="button" style="display: inline-block;">Comment</button>
          </form>
        </div>
      </li>
      <li class="right pin">
        <div class="actions">
          <a href="/pin/pin_id/repin/" class="btn sec_action repin_button">Repin</a>
          <a href="#" class="btn sec_action like_button">Like</a>
          <a href="#" class="btn sec_action comment_button">Comment</a>
        </div>
        <a href="specific_pin.html" class="image_link">
          <img src="/assets/temp/art.jpg" class="pin_image">
        </a>
        <p class="description"><a href="specific_pin.html">title of the pinned item goes here</a></p>
        <div class="stats">
          <span class="like_count">2 likes</span>
          <span class="comment_count">3 comments</span>
          <span class="repins_count">4 repins</span>
        </div>
        <div class="attribution">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">User Name 1</a>
            via
            <a href="/path_to_user_profile">Stacy of KSW</a>
            onto
            <a href="/path_to/user_board">Name of user's board</a>
          </p>
        </div>
        <div class="comment">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">User Name 1</a>
            user comment goes here
          </p>
        </div>
      </li>
      <li class="left pin">
        <div class="actions">
          <a href="/pin/pin_id/repin/" class="btn sec_action repin_button">Repin</a>
          <a href="#" class="btn sec_action like_button">Like</a>
          <a href="#" class="btn sec_action comment_button">Comment</a>
        </div>
        <a href="specific_pin.html" class="image_link">
          <img src="/assets/temp/art_2.jpg" class="pin_image">
        </a>
        <p class="description"><a href="specific_pin.html">title of the pinned item goes here</a></p>
        <div class="stats">
          <span class="like_count">2 likes</span>
          <span class="comment_count">3 comments</span>
          <span class="repins_count">4 repins</span>
        </div>
        <div class="attribution">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">User Name 1</a>
            via
            <a href="/path_to_user_profile">Stacy of KSW</a>
            onto
            <a href="/path_to/user_board">Name of user's board</a>
          </p>
        </div>

        <div class="comment">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <form method="POST" action="/pin/pin_id/comment/">
            <input class="pin_comment_replies" type="hidden" name="replies">
            <textarea class="add_comment" placeholder="Add a comment..." maxlength="1000"></textarea>
            <button class="Button WhiteButton Button11 grid_comment_button" type="button" style="display: inline-block;">Comment</button>
          </form>
        </div>

      </li>
      <li class="right pin">
        <div class="actions">
          <a href="/pin/pin_id/repin/" class="btn sec_action repin_button">Repin</a>
          <a href="#" class="btn sec_action like_button">Like</a>
          <a href="#" class="btn sec_action comment_button">Comment</a>
        </div>
        <a href="specific_pin.html" class="image_link">
          <img src="/assets/temp/art.jpg" class="pin_image">
        </a>
        <p class="description"><a href="specific_pin.html">title of the pinned item goes here</a></p>
        <div class="stats">
          <span class="like_count">2 likes</span>
          <span class="comment_count">3 comments</span>
          <span class="repins_count">4 repins</span>
        </div>
        <div class="attribution">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">User Name 1</a>
            via
            <a href="/path_to_user_profile">Stacy of KSW</a>
            onto
            <a href="/path_to/user_board">Name of user's board</a>
          </p>
        </div>
        <div class="comment">
          <a class="image_link" title="User Name" href="/path_to_user_profile">
            <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
          </a>
          <p class="details">
            <a href="/path_to_user_profile">User Name 1</a>
            user comment goes here
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="clearfix"></div>

</div>
