<div class="wrapper profile">

  <div class="content board board_wide">
    <form method="post" id="new_session" class="form narrow signup" action="/sessions">
      <h1>Sign Up with KidPins</h1>
      <a href="#" class="btn btn_facebook">Sign up via Facebook</a>
      <p class="helper" style="text-align:center;margin:0;padding:30px 0 4px 0;display:block;">- OR -</p>
      <div class="field">
        <input type="text" placeholder="Your Email" name="user[username]" id="user_email">
      </div>
      <div class="field">
        <input type="text" placeholder="Pick a User name" name="user[username]" id="user_username">
      </div>
      <div class="field">
        <input type="password" placeholder="Create Password" name="user[password]" id="user_password">
      </div>
      <div class="submit">
        <input type="submit" value="Create Your Account" name="commit" class="btn tertiary_action lightview" data-lightview-type="ajax" href="modal_signup_2.html" data-lightview-options="ajax: { method: 'post',data: { string: 'Hello world' } }">
      </div>
      <div class="buttons">
        <a href="login.html">Already signed up? login here</a>
      </div>
    </form>
  </div>

  <div class="clearfix"></div>

</div>
