<div class="wrapper general">

  <h1>Featured ParentPinners</h1>

  <div class="feat_carousel">
  
    <div class="feature">
      <div class="user">
        <a href="#" class="avatar"><img src="/assetsfallback/user_avatar/default.jpg"></a>
        <a href="link-to-user-profile" class="user_link">Justin Thyme</a>
        <p class="board_count"><strong>58</strong> Boards</p>
        <span class="following-action-for-3">
          <a class="following-action follow" data-url="/profile/carter/follow" href="#">+ follow</a>
          <a class="following-action unfollow  hidden" data-url="/profile/carter/unfollow" href="#">- following</a>
        </span>
        <p class="description">I'm the founder of ParentPins and an entrepreneur working on the problems parent face while raising their children. I'm a parent, a programmer, and a fellow parentpinner.</p>
      </div>
    
      <!-- insert pin here, placeholder below -->
      <ul id="pins" class="timeline" >
          <li class="pin pin-context pin_14 masonry-brick" style="position: absolute; top: 10px; left: 240px;">
            <div class="actions">
              <a data-width="548" data-height="217" class="js-new-window-popup btn sec_action fb_button" href="http://www.facebook.com/sharer.php?p%5Bsummary%5D=%22Kyle%27s+Pin+in+the+board+%22testing+board%22+on+ParentPins.com&amp;p%5Btitle%5D=ParentPins.com%3A+Education+%3E+Expecting&amp;p%5Burl%5D=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F14&amp;s=100&amp;p[images][0]=http://localhost:3000/uploads/pin/image/14/v222_8408590870_6c9d4d57b2_n.jpg">Share on FB</a>
              <a class="btn sec_action email_button modal_only" href="mailto:?body=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F14%0A%0AFlickr%20is%20almost%20certainly%20the%20best%20online%20photo%20management%20and%20sharing%20application%20in%20the%20world.%20Show%20off%20your%20favorite%20photos%20and%20videos%20to%20the%20world%2C%20securely%20and%20privately%20show%20content%20to%20your%20friends%20and%20family%2C%20or%20blog%20the%20photos%20and%20videos%20you...&amp;subject=Check%20out%20this%20Pin">Email This</a>
              <a href="/pins/14/edit" class="btn sec_action edit_button ajax">Edit</a>
              <a data-url="/pins/14/unlike" href="#" class="btn sec_action like_button ">Unlike</a>
              <a data-url="/pins/14/like" href="#" class="btn sec_action like_button hidden">Like</a>
              <a href="#pinly_comment" class="btn sec_action comment_button">Comment</a>
            </div>
            <div class="bind-price price hidden"></div>
            <a class="ajax image_link update-history" href="/pins/14"><img src="http://localhost:3000/uploads/pin/image/14/v222_8408590870_6c9d4d57b2_n.jpg" class="pin_image" alt="Pin image"></a>
            <p class="description"><a class="ajax update-history" href="/pins/14"><strong class="bind-kind kind article">Article:</strong><span class="bind-description truncate-me">Flickr is almost certainly the best online photo management and sharing application in the world. Show off your favorite photos and videos to the world, securely and privately show content to your fri… <a class="view-more" href="#">(more)</a></span></a></p>
            <div class="stats">
              <span class="like_count">
                1 like
              </span>
              <span class="comment_count">
                3 comments
              </span>
              <span class="repins_count">
                1 repin
              </span>
            </div>
            <div class="attribution">
              <a title="Kyle" class="image_link" href="/profile/kyle"><img src="http://localhost:3000/uploads/user/avatar/1/v30_a3e9cba414a9c48e4e8f9796fd145041.jpg" alt="Kyle's avatar"></a>
              <p class="details">
                <a href="/profile/kyle">Kyle</a> <span class="bind-board_id">onto <a href="/profile/kyle/board/testing-board">testing board</a></span>
                <br>
                Age Group: <strong class="bind-age_group_id">Expecting</strong>
              </p>
            </div>
            <div class="comment">
              <form method="post" id="new_comment" class="new_comment" action="/comments" accept-charset="UTF-8">
                <div style="margin:0;padding:0;display:inline">
                  <input type="hidden" value="✓" name="utf8">
                  <input type="hidden" value="2bg3Tatyb7FN1Z08yjCrsXtHlNmb83Ca6UW8qqfvQ54=" name="authenticity_token">
                </div>
                <input type="hidden" value="Pin" name="comment[commentable_type]" id="comment_commentable_type">
                <input type="hidden" value="14" name="comment[commentable_id]" id="comment_commentable_id">
                <a title="Kyle" href="/profile/kyle"><img src="http://localhost:3000/uploads/user/avatar/1/v30_a3e9cba414a9c48e4e8f9796fd145041.jpg" alt="Kyle's avatar"></a>
                <textarea rows="20" placeholder="Add a comment..." name="comment[body]" maxlength="10000" id="comment_body" cols="40"></textarea>
                <input type="submit" value="Comment" style="display: inline-block" name="commit" class="Button WhiteButton Button11 grid_comment_button">
              </form>
            </div>
          </li>
        </ul>
    
    </div>
    
    <div class="feature">
      <div class="user">
        <a href="#" class="avatar"><img src="/assetsfallback/user_avatar/default.jpg"></a>
        <a href="link-to-user-profile" class="user_link">Justin Thyme</a>
        <p class="board_count"><strong>58</strong> Boards</p>
        <span class="following-action-for-3">
          <a class="following-action follow" data-url="/profile/carter/follow" href="#">+ follow</a>
          <a class="following-action unfollow  hidden" data-url="/profile/carter/unfollow" href="#">- following</a>
        </span>
        <p class="description">I'm the founder of ParentPins and an entrepreneur working on the problems parent face while raising their children. I'm a parent, a programmer, and a fellow parentpinner.</p>
      </div>
    
      <!-- insert pin here, placeholder below -->
      <ul id="pins" class="timeline" >
        <li class="pin pin-context pin_6 masonry-brick" style="position: absolute; top: 10px; left: 240px;">
            <div class="actions">
          <a data-width="548" data-height="217" class="js-new-window-popup btn sec_action fb_button" href="http://www.facebook.com/sharer.php?p%5Bsummary%5D=%22Carter%27s+Pin+in+the+board+%22Fun+Activities%22+on+ParentPins.com&amp;p%5Btitle%5D=ParentPins.com%3A+Education+%3E+Expecting&amp;p%5Burl%5D=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F6&amp;s=100&amp;p[images][0]=http://localhost:3000/uploads/pin/image/6/v222_iStock_000018232462XSmall.jpg">Share on FB</a>
          <a class="btn sec_action email_button modal_only" href="mailto:?body=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F6%0A%0Asomething%20to%20think%20about...%20kids%20write%20on%20walls..%20fact%21&amp;subject=Check%20out%20this%20Pin">Email This</a>

              <a href="/pins/6/repin" class="btn sec_action repin_button ajax">Repin</a>


            <a data-url="/pins/6/unlike" href="#" class="btn sec_action like_button ">Unlike</a>
            <a data-url="/pins/6/like" href="#" class="btn sec_action like_button hidden">Like</a>

            <a href="#pinly_comment" class="btn sec_action comment_button">Comment</a>

        </div>
          <div class="bind-price price hidden"></div>
          <a class="ajax image_link update-history" href="/pins/6">
            <img src="http://localhost:3000/uploads/pin/image/6/v222_iStock_000018232462XSmall.jpg" class="pin_image" alt="Pin image">
        </a>  <p class="description">
            <a class="ajax update-history" href="/pins/6">
              <strong class="bind-kind kind idea">Idea:</strong>
              <span class="bind-description truncate-me">something to think about... kids write on walls.. fact!</span>
            </a>
          </p>
            <div class="stats">

              <span class="like_count">
                1 like
              </span>

              <span class="comment_count">
                1 comment
              </span>


          </div>

          <div class="attribution">
            <a title="Carter" class="image_link" href="/profile/carter"><img src="http://localhost:3000/uploads/user/avatar/3/v30_177c892a76b3a76807bbf354eb75cad3.jpg" alt="Carter's avatar"></a>
            <p class="details">
              <a href="/profile/carter">Carter</a>

              <span class="bind-board_id">
                onto
                <a href="/profile/carter/board/fun-activities">Fun Activities</a>
              </span>
              <br>
              Age Group: <strong class="bind-age_group_id">Expecting</strong>
            </p>
          </div>
            <div class="comment">
              <form method="post" id="new_comment" class="new_comment" action="/comments" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="2bg3Tatyb7FN1Z08yjCrsXtHlNmb83Ca6UW8qqfvQ54=" name="authenticity_token"></div>
          <input type="hidden" value="Pin" name="comment[commentable_type]" id="comment_commentable_type">
          <input type="hidden" value="6" name="comment[commentable_id]" id="comment_commentable_id">
          <a title="Kyle" href="/profile/kyle"><img src="http://localhost:3000/uploads/user/avatar/1/v30_a3e9cba414a9c48e4e8f9796fd145041.jpg" alt="Kyle's avatar"></a>
          <textarea rows="20" placeholder="Add a comment..." name="comment[body]" maxlength="10000" id="comment_body" cols="40"></textarea>
          <input type="submit" value="Comment" style="display: inline-block" name="commit" class="Button WhiteButton Button11 grid_comment_button">
        </form>
            </div>
        </li>
      </ul>
    
    </div>
    
    <div class="feature">
      <div class="user">
        <a href="#" class="avatar"><img src="/assetsfallback/user_avatar/default.jpg"></a>
        <a href="link-to-user-profile" class="user_link">Justin Thyme</a>
        <p class="board_count"><strong>58</strong> Boards</p>
        <span class="following-action-for-3">
          <a class="following-action follow" data-url="/profile/carter/follow" href="#">+ follow</a>
          <a class="following-action unfollow  hidden" data-url="/profile/carter/unfollow" href="#">- following</a>
        </span>
        <p class="description">I'm the founder of ParentPins and an entrepreneur working on the problems parent face while raising their children. I'm a parent, a programmer, and a fellow parentpinner.</p>
      </div>
    
      <!-- insert pin here, placeholder below -->
      <ul id="pins" class="timeline" >
        <li class="pin pin-context pin_6 masonry-brick" style="position: absolute; top: 10px; left: 240px;">
            <div class="actions">
          <a data-width="548" data-height="217" class="js-new-window-popup btn sec_action fb_button" href="http://www.facebook.com/sharer.php?p%5Bsummary%5D=%22Carter%27s+Pin+in+the+board+%22Fun+Activities%22+on+ParentPins.com&amp;p%5Btitle%5D=ParentPins.com%3A+Education+%3E+Expecting&amp;p%5Burl%5D=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F6&amp;s=100&amp;p[images][0]=http://localhost:3000/uploads/pin/image/6/v222_iStock_000018232462XSmall.jpg">Share on FB</a>
          <a class="btn sec_action email_button modal_only" href="mailto:?body=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F6%0A%0Asomething%20to%20think%20about...%20kids%20write%20on%20walls..%20fact%21&amp;subject=Check%20out%20this%20Pin">Email This</a>

              <a href="/pins/6/repin" class="btn sec_action repin_button ajax">Repin</a>


            <a data-url="/pins/6/unlike" href="#" class="btn sec_action like_button ">Unlike</a>
            <a data-url="/pins/6/like" href="#" class="btn sec_action like_button hidden">Like</a>

            <a href="#pinly_comment" class="btn sec_action comment_button">Comment</a>

        </div>
          <div class="bind-price price hidden"></div>
          <a class="ajax image_link update-history" href="/pins/6">
            <img src="http://localhost:3000/uploads/pin/image/6/v222_iStock_000018232462XSmall.jpg" class="pin_image" alt="Pin image">
        </a>  <p class="description">
            <a class="ajax update-history" href="/pins/6">
              <strong class="bind-kind kind idea">Idea:</strong>
              <span class="bind-description truncate-me">something to think about... kids write on walls.. fact!</span>
            </a>
          </p>
            <div class="stats">

              <span class="like_count">
                1 like
              </span>

              <span class="comment_count">
                1 comment
              </span>


          </div>

          <div class="attribution">
            <a title="Carter" class="image_link" href="/profile/carter"><img src="http://localhost:3000/uploads/user/avatar/3/v30_177c892a76b3a76807bbf354eb75cad3.jpg" alt="Carter's avatar"></a>
            <p class="details">
              <a href="/profile/carter">Carter</a>

              <span class="bind-board_id">
                onto
                <a href="/profile/carter/board/fun-activities">Fun Activities</a>
              </span>
              <br>
              Age Group: <strong class="bind-age_group_id">Expecting</strong>
            </p>
          </div>
            <div class="comment">
              <form method="post" id="new_comment" class="new_comment" action="/comments" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="2bg3Tatyb7FN1Z08yjCrsXtHlNmb83Ca6UW8qqfvQ54=" name="authenticity_token"></div>
          <input type="hidden" value="Pin" name="comment[commentable_type]" id="comment_commentable_type">
          <input type="hidden" value="6" name="comment[commentable_id]" id="comment_commentable_id">
          <a title="Kyle" href="/profile/kyle"><img src="http://localhost:3000/uploads/user/avatar/1/v30_a3e9cba414a9c48e4e8f9796fd145041.jpg" alt="Kyle's avatar"></a>
          <textarea rows="20" placeholder="Add a comment..." name="comment[body]" maxlength="10000" id="comment_body" cols="40"></textarea>
          <input type="submit" value="Comment" style="display: inline-block" name="commit" class="Button WhiteButton Button11 grid_comment_button">
        </form>
            </div>
        </li>
      </ul>
    
    </div>
    
    <div class="feature">
      <div class="user">
        <a href="#" class="avatar"><img src="/assetsfallback/user_avatar/default.jpg"></a>
        <a href="link-to-user-profile" class="user_link">Justin Thyme</a>
        <p class="board_count"><strong>58</strong> Boards</p>
        <span class="following-action-for-3">
          <a class="following-action follow" data-url="/profile/carter/follow" href="#">+ follow</a>
          <a class="following-action unfollow  hidden" data-url="/profile/carter/unfollow" href="#">- following</a>
        </span>
        <p class="description">I'm the founder of ParentPins and an entrepreneur working on the problems parent face while raising their children. I'm a parent, a programmer, and a fellow parentpinner.</p>
      </div>
    
      <!-- insert pin here, placeholder below -->
      <ul id="pins" class="timeline" >
          <li class="pin pin-context pin_14 masonry-brick" style="position: absolute; top: 10px; left: 240px;">
            <div class="actions">
              <a data-width="548" data-height="217" class="js-new-window-popup btn sec_action fb_button" href="http://www.facebook.com/sharer.php?p%5Bsummary%5D=%22Kyle%27s+Pin+in+the+board+%22testing+board%22+on+ParentPins.com&amp;p%5Btitle%5D=ParentPins.com%3A+Education+%3E+Expecting&amp;p%5Burl%5D=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F14&amp;s=100&amp;p[images][0]=http://localhost:3000/uploads/pin/image/14/v222_8408590870_6c9d4d57b2_n.jpg">Share on FB</a>
              <a class="btn sec_action email_button modal_only" href="mailto:?body=http%3A%2F%2Flocalhost%3A3000%2Fpins%2F14%0A%0AFlickr%20is%20almost%20certainly%20the%20best%20online%20photo%20management%20and%20sharing%20application%20in%20the%20world.%20Show%20off%20your%20favorite%20photos%20and%20videos%20to%20the%20world%2C%20securely%20and%20privately%20show%20content%20to%20your%20friends%20and%20family%2C%20or%20blog%20the%20photos%20and%20videos%20you...&amp;subject=Check%20out%20this%20Pin">Email This</a>
              <a href="/pins/14/edit" class="btn sec_action edit_button ajax">Edit</a>
              <a data-url="/pins/14/unlike" href="#" class="btn sec_action like_button ">Unlike</a>
              <a data-url="/pins/14/like" href="#" class="btn sec_action like_button hidden">Like</a>
              <a href="#pinly_comment" class="btn sec_action comment_button">Comment</a>
            </div>
            <div class="bind-price price hidden"></div>
            <a class="ajax image_link update-history" href="/pins/14"><img src="http://localhost:3000/uploads/pin/image/14/v222_8408590870_6c9d4d57b2_n.jpg" class="pin_image" alt="Pin image"></a>
            <p class="description"><a class="ajax update-history" href="/pins/14"><strong class="bind-kind kind article">Article:</strong><span class="bind-description truncate-me">Flickr is almost certainly the best online photo management and sharing application in the world. Show off your favorite photos and videos to the world, securely and privately show content to your fri… <a class="view-more" href="#">(more)</a></span></a></p>
            <div class="stats">
              <span class="like_count">
                1 like
              </span>
              <span class="comment_count">
                3 comments
              </span>
              <span class="repins_count">
                1 repin
              </span>
            </div>
            <div class="attribution">
              <a title="Kyle" class="image_link" href="/profile/kyle"><img src="http://localhost:3000/uploads/user/avatar/1/v30_a3e9cba414a9c48e4e8f9796fd145041.jpg" alt="Kyle's avatar"></a>
              <p class="details">
                <a href="/profile/kyle">Kyle</a> <span class="bind-board_id">onto <a href="/profile/kyle/board/testing-board">testing board</a></span>
                <br>
                Age Group: <strong class="bind-age_group_id">Expecting</strong>
              </p>
            </div>
            <div class="comment">
              <form method="post" id="new_comment" class="new_comment" action="/comments" accept-charset="UTF-8">
                <div style="margin:0;padding:0;display:inline">
                  <input type="hidden" value="✓" name="utf8">
                  <input type="hidden" value="2bg3Tatyb7FN1Z08yjCrsXtHlNmb83Ca6UW8qqfvQ54=" name="authenticity_token">
                </div>
                <input type="hidden" value="Pin" name="comment[commentable_type]" id="comment_commentable_type">
                <input type="hidden" value="14" name="comment[commentable_id]" id="comment_commentable_id">
                <a title="Kyle" href="/profile/kyle"><img src="http://localhost:3000/uploads/user/avatar/1/v30_a3e9cba414a9c48e4e8f9796fd145041.jpg" alt="Kyle's avatar"></a>
                <textarea rows="20" placeholder="Add a comment..." name="comment[body]" maxlength="10000" id="comment_body" cols="40"></textarea>
                <input type="submit" value="Comment" style="display: inline-block" name="commit" class="Button WhiteButton Button11 grid_comment_button">
              </form>
            </div>
          </li>
        </ul>
    
    </div>
    
    
  </div>

</div>