<div class="board_comments">
  <a href="#" id="message_toggle" class="btn sec_action comment_button right">See all comments</a>
  <h2>Board Talk</h2>
  <ul class="comments">
    <li>
      <a href="#" class="avatar"><img src="/assets/fallback/user_avatar/v50_default.jpg"></a>
      <div class="body">
        <div class="user_info">
          <a href="#" class="profile_link">User Name Here</a>
          <span>11 minutes ago</span>
        </div>
        <p class="comment">I love this board. be sure to check out the <a href="#"  id="show_pin_toggle" class="pin_mention">#Cutie_patootie</a> pin. I love this idea. I did this with my kids and we had a blast.</p>
      </div>
      <div id="show_pin" style="display:none;">we need to put the pin mentioned here positioned relative to the link clicked like a fly out or the user info panels on eborhood. I was thinking that when a user uses #pin_name, we could auto populate this link and then call the pin via ajax upon click. This brings the conversation within the pin and the convo here together. Users can talk in terms of the pins as reference.</div>
    </li>
  </ul>
  <div id="more_comments" style="display:none;">
    
    <div>
      <%= render 'shared/comment_form', :commentable => @board %>
    </div>
    
    <ul class="comments">
      <li>
        <a href="#" class="avatar"><img src="/assets/fallback/user_avatar/v50_default.jpg"></a>
        <div class="body">
          <div class="user_info">
            <a href="#" class="profile_link">User Name Here</a>
            <span>11 minutes ago</span>
          </div>
          <p class="comment">I love this board. be sure to check out the <a href="#" class="pin_mention">#Cutie_patootie</a> pin. I love this idea. I did this with my kids and we had a blast.</p>
        </div>
      </li>
      <li>
        <a href="#" class="avatar"><img src="/assets/fallback/user_avatar/v50_default.jpg"></a>
        <div class="body">
          <div class="user_info">
            <a href="#" class="profile_link">User Name Here</a>
            <span>11 minutes ago</span>
          </div>
          <p class="comment">I love this board. be sure to check out the <a href="#" class="pin_mention">#Cutie_patootie</a> pin. I love this idea. I did this with my kids and we had a blast.</p>
        </div>
      </li>
      <li>
        <a href="#" class="avatar"><img src="/assets/fallback/user_avatar/v50_default.jpg"></a>
        <div class="body">
          <div class="user_info">
            <a href="#" class="profile_link">User Name Here</a>
            <span>11 minutes ago</span>
          </div>
          <p class="comment">I love this board. be sure to check out the <a href="#" class="pin_mention">#Cutie_patootie</a> pin. I love this idea. I did this with my kids and we had a blast.</p>
        </div>
      </li>
      <li>
        <a href="#" class="avatar"><img src="/assets/fallback/user_avatar/v50_default.jpg"></a>
        <div class="body">
          <div class="user_info">
            <a href="#" class="profile_link">User Name Here</a>
            <span>11 minutes ago</span>
          </div>
          <p class="comment">I love this board. be sure to check out the <a href="#" class="pin_mention">#Cutie_patootie</a> pin. I love this idea. I did this with my kids and we had a blast.</p>
        </div>
      </li>
      <li>
        <a href="#" class="avatar"><img src="/assets/fallback/user_avatar/v50_default.jpg"></a>
        <div class="body">
          <div class="user_info">
            <a href="#" class="profile_link">User Name Here</a>
            <span>11 minutes ago</span>
          </div>
          <p class="comment">I love this board. be sure to check out the <a href="#" class="pin_mention">#Cutie_patootie</a> pin. I love this idea. I did this with my kids and we had a blast.</p>
        </div>
      </li>
      <li>
        <a href="#" class="avatar"><img src="/assets/fallback/user_avatar/v50_default.jpg"></a>
        <div class="body">
          <div class="user_info">
            <a href="#" class="profile_link">User Name Here</a>
            <span>11 minutes ago</span>
          </div>
          <p class="comment">I love this board. be sure to check out the <a href="#" class="pin_mention">#Cutie_patootie</a> pin. I love this idea. I did this with my kids and we had a blast.</p>
        </div>
      </li>
      <li>Paginate here</li>
    </ul>
  </div>
  
</div>

