<div class="board_comments">
  <a href="#" id="message_toggle" class="btn sec_action comment_button right">
    <% if @board.comments_count.zero? %>
      Add first comment!
    <% elsif @board.comments_count == 1 %>
      Reply to comment!
    <% else %>
      See all <%= @board.comments_count %> comments
    <% end %>
  </a>
  <h2>Board Talk</h2>
  <div id="comment_form_wrapper"><%= render 'comments/form', :commentable => @board %></div>
  <ul class="comments">
    <%= render :partial => 'comment', :object => @board.comments.first, :locals => {:first => true} %>
  </ul>
  <div id="more_comments">
    <ul class="comments">
      <%= render :partial => 'comment', :collection => @board.comments.slice(1, @board.comments.length) %>
      <li>Paginate here</li>
    </ul>
  </div>
  
</div>

