<div class="wrapper">
        
    <div class="content">
      <h1>Trending Boards<% if @category %> :: <%= @category.name %><% end %></h1>
      <%= render 'shared/filters', :for_boards => true %>
      
      <%= render 'boards/boards' %>
    </div>
    
    <div class="clearfix"></div>
    
</div>
