<div class="wrapper">
        
    <div class="content">
      <h1>Trending Boards<% if @category %> :: <%= @category.name %><% end %></h1>
      <%= render 'shared/filters', :for_boards => true %>
      
      <ul class="boards">
        <%= render @boards %>
      </ul>
      
      <div class="clearfix"></div>
      
      <!-- thinking we show load more button after 20 boards. load time will be effected by this choice. -->
      <a href="#" class="btn action load_more_button tertiary_action">Load More</a>
      
      <img src="/assets/ui/loader.gif" alt="loading icon" class="loader_icon"/>
    </div>
    
    <div class="clearfix"></div>
    
</div>
