//= require contrib/underscore.min
//= require lib/bookmarklet/importer/get_data
//= require lib/bookmarklet/importer/interactivity
//= require lib/bookmarklet/importer/importer_base

if (window.ppBookmarklet.host)
  loggedInURL = window.ppBookmarklet.host + '<%= Rails.application.routes.url_helpers.pin_import_login_check_path %>'

  # TODO: rewrite ppBookmarklet as a class, call a message function there (to e.g. handle setting to red on errors)
  message = (str) ->
    if window.ppBookmarklet
      ppBookmarklet.contentBase.find('#progressDisplay').html(str);
    else
      alert(str)

  onSuccess = (json) ->
    if json.logged_in
      window.ppImporter = new window.ppImporterClasses.ImporterBase({dataSource: 'Pinterest'});
    else
      message("""You'll need to <a href="#{window.ppBookmarklet.host}" target="_blank" id="ppDoLoginLink">log into your ParentPins account</a> before continuing.""")
      if window.ppBookmarklet
        ppBookmarklet.contentBase.on 'click', '#ppDoLoginLink', () ->
          ppBookmarklet.contentBase.find('#progressDisplay').append("""<br><br><a href="#" id="ppCheckLoginLink">Click to try again</a>.""")

        ppBookmarklet.contentBase.on 'click', '#ppCheckLoginLink', () ->
          checkLoggedIn()
          
  onFailure = () ->
    message("Unable to connect with server -- please try again later.")
    
  
  checkLoggedIn = () ->
    ppBookmarklet.contentBase.off 'click'
    $.getJSON("#{loggedInURL}?callback=?").done(onSuccess).fail(onFailure)
    
  checkLoggedIn()