/*
 *= require importer/step_1
 *= require importer/step_4
 *= require jquery.ui.selectable
 *= require_self
 */
 
 body.step_drag_to_assign {
  .drop_section_wrapper {
    ul {
      list-style-type: none;
      li.drop_target {
        float: left;
        width: 30%;
        border: 1px solid #CCC;
        background: rgba(255, 255, 255, 0.9);
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
      } 
      li.pin {
        margin: 3px;
        width: 50px;
        img {
          max-width: 50px;
        }
      } } }
  
  li.board {
    padding: 5px;
  }
    
  li.pin {
    margin: 5px;
    float: left;
    border: 1px solid #CCC;
    &.ui-selected {
      border: 2px solid red;
      box-shadow: 0 0 5px 5px #999;
    }
    &.ui-selecting {
      border: 2px solid yellow;
    }
  }

  .drag_section_wrapper {
    margin-top: 20px;
    ul {
      list-style-type: none;
    }
    ul.boards {
      width: 200px;
      float: left;
      li.board {
        drop-shadow: none;
        margin: none;
      }
    }
    ul.pins {
      margin-left: 75px;
      float: left;
      border: 1px solid #CCC;
      background: rgba(255, 255, 255, 0.7);
      padding: 10px;
    }
    li.pin {
      width: 100px;
      img {
        max-width: 100px;
      }
    } 
  }
}