/* Variables */
$themeCOLOR: #76A613;
$themeLinkCOLOR: #2886B4;
$themeCOLORLight: lighten( $themeCOLOR, 36% );

.context.import {
  .ui-draggable-dragging {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: 1px 1px 3px rgba(155, 155, 155, 0.3) !important;
  }
  .ui-draggable {
    cursor: move;
  }
}
.context.import {
  &.step_drag_to_assign {
    .drop_section_wrapper {
      ul {
        list-style-type: none;
        li.drop-target {
          float: left;
          width: 30%;
          border: 1px solid #CCC;
          background: rgba(255, 255, 255, 0.9);
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 5px;
          min-height: 75px;
          h3 {
            text-align: center;
          }
          &.ui-state-active {
            border-color: #000;
            background: rgba(0, 0, 0, 0.1);
          }
        } 
        li.pin {
          margin: 3px;
          width: 50px;
          img {
            max-width: 50px;
            min-height: 15px;
          }
        } } }

    li.board {
      padding: 5px;
    }

    li.pin {
      position: relative;
      margin: 5px;
      float: left;
      border: 1px solid #CCC;
      &.ui-selected {
        border: 2px solid red;
        box-shadow: 0 0 5px 5px #999;
      }
      &.ui-selecting {
        border: 2px solid yellow;
      }
      .hover_info {
        display: none;
        text-align: center;
      }
    }
    .drag_section_wrapper.ui-state-active {
      ul.pins {
        border-color: #000;
        background: rgba(0, 0, 0, 0.1);
      }
    }
    
    .drag_section_wrapper {
      margin-top: 20px;
      ul {
        list-style-type: none;
      }
      ul.boards {
        width: 200px;
        float: left;
        li.board {
          border: 1px solid #DDD;
          box-shadow: none;
          margin: 2px;
          padding: 5px;
          .label {
            font-weight: bold;
          }
          &.empty {
            color: #999;
            .label {
              font-weight: normal;
            }
          }
        }
      }
      ul.pins {
        margin-left: 75px;
        float: left;
        border: 1px solid #CCC;
        background: rgba(255, 255, 255, 0.7);
        padding: 10px;
        min-width: 500px;
      }
      li.pin {
        width: 100px;
        img {
          max-width: 100px;
          min-height: 25px;
        }
      }
      li.pin:hover {
        overflow: hidden;
        .hover_info {
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.7);
          color: #EEE;
        }
      }
    }
  }

  &.step_4 {
    padding: 5px;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    form {
      margin-bottom: 20px;
    }
    .btn {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      position: relative;
      padding: 6px 12px;
      margin:0 24px 0 0;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      font-size: 15px;
      line-height:24px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background-color:$themeCOLOR;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'transparent', endColorstr = 'rgba(0, 0, 0, 0.15)');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = 'transparent', endColorstr = 'rgba(0,0,0,0.15)')";
      background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
      background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
      background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
      background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
      background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
      background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      &.tertiary_action {
        background-color: $themeCOLOR;
        border: 1px solid $themeCOLOR;
        position: relative;
        color:#fff;
        font-weight: bold; } }
    h1 {
      font-size:20px;
      line-height:24px;
      font-weight:normal;
      padding:0;
      margin:24px;
    }
    h3 {
      font-size:18px;
      line-height:24px;
      padding:0;
      margin:12px 0;
    }
    ul.importing_boards {
      li.importing_board {
        clear: both;
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #ddd;
        .board_info {
          position:absolute;
          width: 224px;
          img {
            border: 1px solid #ddd;
          }
        }
        ul.importing_pins {
          float: left;
          display:inline-block;
          margin: 48px 0 12px 224px;
          li.importing_pin:last-child {
            border:none;
          }
          li.importing_pin {
            clear: both;
            list-style: none;
            padding: 12px 24px;
            margin-bottom: 12px;
            border-bottom: 1px solid #ddd;
            .pin_errors {
              border: 1px solid red;
              padding: 5px;
              background: #FCC;
              margin: 5px;
              margin-bottom: 10px;
              color: #333;
            }
            .pin_photo {
              width: 100px;
              float: left;
              img {
                max-width: 140px;
              }
            }
            .pin_info {
              float: left;
              margin-left: 110px;
              width: 400px;
              .line {
                font-size: 13px;
                line-height: 24px;
                padding: 0;
                margin: 0 0 11px 25px;
                strong {
                  width: 100px;
                  display: inline-block;
                }
                input[type=text], textarea {
                  border:1px solid #ddd;
                  font-size:13px;
                  line-height:18px;
                  padding:3px;
                  width: 220px;
                }
              }
            }
            &.odd {
              background: #EEE;
            }
            &.complete {
              background: #EFE;
              color:#fff;
              strong, label {
                color:#222;
              }
            }
            &.mass-selected {
              background: #E7E7E7;
            }
            &.mass-selected.odd {
              background: #f2f2f2;
            }
          }
        }
      }
    }
    .status_boxes {
      float:left;
      padding:0 12px 0 0;
      height:160px;
    }
    .status_boxes div {
      padding: 3px 9px;
      display: block;
      text-align:center;
      margin:0 0 12px 0;
      font-size: 13px;
      line-height:18px;
      position:relative;
      &.pending {
        background: red;
        color:#fff;
        &:before {
          border-left:6px solid red;
        }
      }
      &.complete {
        background: green;
        color:#fff;
      }
      &:before {
        position:absolute;
        top:6px;
        right:-6px;
        content:"";
        height:0;
        width:0;
        border-top:6px solid transparent;
        border-bottom:6px solid transparent;
        border-left:6px solid green;
      }
    }
  }
  .open_close_controls {
    display:block;
    width:140px;
    margin:6px 0 0 0;
  }
  ol.import_progress {
    margin: 0;
    margin-bottom: 25px;
    background: #ffffe0;
    padding: 10px;
    text-align:center;
    h3 {
      margin-bottom: 5px;
      padding-top: 0px;
    }
    li {
      display: inline-block;
      margin-left: 20px;
      &.current {
        font-weight: bold;
        &:before {
          content: '\00bb';
        }
      }
    }
  }
  .submit_bar {
    border: 1px solid #DDD;
    height: 50px;
    width: 98%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background: #F0F0F0;
    .instructions {
      font-size: 1.2em;
      color: #333;
      text-shadow: 0px 2px 3px #FFF;
      margin-top: 15px;
    }
    .hide_until_complete {
      display: none;
    }
    input[type=submit] {
      float: right;
      margin: 5px;
    }
    .btn.previous {
      float: left;
    }
  }
  #mass-edit-controls {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    h3 {
      width: 150px;
      float: left;
      margin-top: 0px;
      .count {
        display: block;
        font-size: 0.7em;
        font-weight: lighter;
        margin-top: -2px;
      }
  
    }
    .fields {
      width: 325px;
      float: right;
    }
    .field {
      margin: 0px;
      padding: 0px;
    }
  }
}