.ppBookmarkletOverlay {
  #pp_pinterest_import_wrapper {
    margin: 50px;
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
    #pinterest_section {
      background: #DDD;
      border: 2px solid #666;
      #importing_boards {
        width: 200px;
        margin: 20px;
        background: #FFF;
        border: 1px solid #333;
        float: left;
        ul {
          li {
            margin: 5px;
            padding: 5px;
            cursor: pointer;
            cursor: hand;
            background: #F0F0F0;
          }
          li.selected {
            background: #CCC;
          }
        }
      }
      #importing_pins {
        margin: 20px;
        margin-left: 0px;
        background: #FFF;
        border: 1px solid #333;
        float: left;
        ul {
          width: 100%;
          li {
            height: 120px;
            width: 100px;
            border: 1px solid #333;
            background: #EEE;
            float: left;
            margin: 10px;
          }
        }
      }
      .clearfix {
        clear: both;
      }
    }

    #our_section {
      background: #999; 
      border: 2px solid #666;
      margin-top: 20px;
      .loading {
        padding: 5px;
      }
    }
  }
}