/*
 *= require normalize
 *= require boilerplate
 *= require_self
 */
body.importing {
  padding: 5px;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  ul.importing_boards {
    li.importing_board {
      clear: both;
      list-style: none;
      width: 100%;
      border-bottom: 2px solid #333;
      .board_info {
        float: left;
        width: 200px;
      }
      ul.importing_pins {
        float: left;
        display:inline-block;
        margin-left: 220px;
        li.importing_pin {
          clear: both;
          list-style: none;
          padding: 5px;
          margin-bottom: 10px;
          border-bottom: 1px solid #DDD;
          .pin_photo {
            width: 100px;
            float: left;
            img {
              max-width: 100px;
              max-height: 100px;
            }
          }
          .pin_info {
            float: left;
            margin-left: 110px;
          }
          &.odd {
            background: #EEE;
          }
          &.odd.complete{
            background: #393;
          }
          &.complete {
            background: #090;
            border-color: #333;
          }
        }
      }
    }
  }
  .form_button_bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #999;
    height: 50px;
    width: 100%;
    background: #F0F0F0;
    input[type=submit] {
      float: right;
      margin: 5px;
    }
  }
  .status_boxes div {
    border: 1px solid #999;
    padding: 3px 9px;
    display: inline-block;
    font-size: 0.8em;
    &.pending {
      background: red;
    }
    &.complete {
      background: green;
    }
  }
}