/*
 * Requiring jcrop from gem. Indirection required to be sure it gets properly precompiled.
 *
*/

//TODO: re-enable jcrop styling
// require jquery.Jcrop.min

.croppable_wrapper {
  .jcrop-holder {
    margin: 0 auto;
  }
}
.croppable_preview {
  position: relative;
  .crop_preview_wrapper {
    overflow: hidden;
    position: relative;
    left: -14px;
    border: 1px solid #333;
  }
}