/* mixins */

@mixin ellipsizer {
  text-overflow: ellipsis;
  white-space:nowrap;
  width:100%;
  overflow:hidden; }
  
@mixin circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/* modal */

.modal_overlay {
  background: rgba(255,255,255,0.9);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow-y:scroll;
  z-index:3;
  .board_wide {
    padding-top:20px; }
  .profile.wrapper {
    margin-top: 0px;
    width:820px; }
  .form h1 {
    margin:10px 0 0 0;
    min-height:auto; }
}

.pinly {
  position: static;
  width: 500px;
  padding: 10px;
  margin: 20px auto;
  background: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 0px 9px rgba(0, 10, 10, 0.38);
  -moz-box-shadow: 0 0px 9px rgba(0, 10, 10, 0.38);
  box-shadow: 0 0px 9px rgba(0, 10, 10, 0.38);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  .pin_type {
    background: none repeat scroll 0 0 #656565;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    padding: 4px 8px;
    position: relative;
    top:-10px;
    border:1px solid #222;
    border-top:none; }
  .btn.action {
    position:relative;
    float:none; }
  .attribute {
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
    margin: 0 0 10px 0;
    position: relative;
    min-height: 50px;
    .avatar_link {
      position: absolute;
      display: block;
      top: 5px;
      left: 3px;
      height: 50px;
      width: 50px;
      @include circular;
      img {
        @include circular; }
      &:hover {
        border:3px solid #E55799;
        top:2px;
        left:0; } }
    .fb_button {
      display:none; } }
  .attribute_info {
    margin: 0 10px 0 65px;
    .following-action {
      background: #F9F9F9;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 3px rgba(255, 0, 0, 0.07) inset;
      -moz-box-shadow: 0 0 3px rgba(255, 0, 0, 0.07) inset;
      box-shadow: 0 0 3px rgba(255, 0, 0, 0.07) inset;
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      padding: 2px 9px;
      margin:0 0 0 5px; }
    a {
      text-decoration: none;
      font-size: 17px;
      line-height: 20px;
      &:hover {
        color: #222; } }
    p {
      padding: 0;
      margin: 0;
      color: #999;
      font-size: 12px;
      line-height:24px; }
    span {
      padding: 0;
      margin: 0;
      color: #000;
      font-size: 18px;
      font-weight: bold; }
    .time {
      font-style: italic;
      a {
        font-style:normal;
        font-size: 12px; } } }
  .title {
    color: #999;
    font-size: 13px;
    line-height:24px;
    margin: 0;
    padding: 0 0 2px 0;
    @include ellipsizer;
    a {
      text-decoration: none;
      font-size: 18px;
      &:hover {
        color: #000; } } }
  .action {
    font-size:13px;
    a {
      text-decoration:none;
      &:hover {
      text-decoration:underline; } } }
  p {
    margin:0 0 8px 0; }
  .image_link {
    display: block;
    overflow: hidden;
    width: 520px;
    background: #f9f9f9;
    margin:0 -10px 10px;
    position:relative;
    .price {
      background: #f9f9f9;
      padding: 5px 10px;
      width: 145px;
      color: #333;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
      z-index: 1;
      position: absolute;
      top: 14px;
      left: -50px;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27); }
    img {
      display: block;
      margin: 0 auto; } 
    &:hover:before {
      content:"View this pin in a new tab";
      display:block;
      position:absolute;
      bottom:0;
      left:0;
      width:520px;
      height:auto;
      font-size: 22px;
      font-weight: 400;
      text-align:center;
      text-shadow:0 -1px 0 #000000;
      padding:15px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      border-top: 1px solid rgba(0, 0, 0, 0.04);
      background-color:rgba(255,255,255,0.3);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = 'rgba(0, 0, 0, 0.6)', endColorstr = 'rgba(0, 0, 0, 0.9)');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = 'rgba(0, 0, 0, 0.6)', endColorstr = 'rgba(0, 0, 0, 0.9)')";
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
      background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
      background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
      background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9)));
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
      background-image: linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)); } }
  .stats {
    color: #999;
    font-size: 12px;
    margin: 0;
    padding: 0 0 10px 0;
    span {
      padding: 0 10px 0 0; } }
  .detail {
    position: relative;
    .actions {
      padding: 10px 10px 20px 30px;
      position: absolute;
      top: 80px;
      left: 520px;
      width: 118px;
      background: transparent; }
    .actions a {
      margin-top: 15px !important; } } 
  .comments {
    background:#fff;
    border-top:1px dashed #ddd;
    margin:0 -10px;
    padding:10px; 
    .comment_form {
      position:relative;
      .avatar_link {
        top:5px;
        left:0;
        height: 50px;
        width: 50px;
        display:block;
        position:absolute;
        @include circular;
        img {
          @include circular; }
        &:hover {
          border:3px solid #E55799;
          top:2px;
          left:-3px; } } }
    .comment {
      background:#fff;
      margin:0 0 10px 0;
      position:relative;
      min-height: 60px;
      overflow: visible;
      border-bottom: 1px solid #F5F5F5;
      .comment-controls {
        color:#BEBEBE; }
      .avatar_link {
        position:absolute;
        top:5px;
        left:0;
        height: 50px;
        width: 50px;
        display:block;
        @include circular;
        img {
          @include circular; }
         &:hover {
            border:3px solid #E55799;
            top:2px;
            left:-3px; } }
      .user_info {
        padding-left:60px;
        font-size:13px;
        a {
          font-weight:bold;
          text-decoration:none;
          &:hover {
            color:#000; } } } }
    textarea {
      border: 1px solid #ccc;
      font-size: 11px;
      height: 30px;
      padding: 4px 3px 3px;
      width: 340px;
      margin: 10px 0 5px 60px;
      -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
      -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.75) inset;
      color: #8C7E7E;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      resize: none;
      &:focus {
        background-color: #EDF6FF !important;
        border-color: blue;
        color: #000000; } } 
    .comment_button {
      padding:8px 10px 6px;
      top:12px; } } }