
/*
	Slideshow
*/
#board-cover-image-slides {
	z-index:100;
	position: relative;
	margin: 0px auto;
	margin-bottom: 40px;
	background: #EEE;
	width: 242px;
	
	.slides_container_wrapper {
	  margin: 0px;
    width: 222px;
  	border: 10px solid #FFF;
  	background: #FFF;
	}
  /*
  	Slides container
  	Important:
  	Set the width of your slides container
  	Set to display none, prevents content flash
  */

  .slides_container {
    min-height: 60px;
  	width:222px;
  	overflow:hidden;
  	position:relative;
  	display:none;
    
  /*
  	Each slide
  	Important:
  	Set the width of your slides
  	If height not specified height will be set by the slide content
  	Set to display block
  */

    div {
    	width:222px;
    	display:block;
    	img { display:block; height: auto; margin: 0 auto;}
    }
  }
  
  /*
  	Next/prev buttons
  */

  .next, .prev {
  	position:absolute;
  	top:50px;
  	width:24px;
  	height:43px;
  	display:block;
  	z-index:101;
  }
  .prev {
	  left:-24px;
  }
  .next {
  	right:-24px;
  }

  /*
  	Pagination
  */

  .pagination {
  	margin: 25px auto;
  	margin-top: 15px;
  	width:100%;
  	padding: 0px;
  }

  .pagination li {
  	float:left;
  	margin:0 1px;
  	list-style:none;
  }

  .pagination li a {
  	display:block;
  	width:12px;
  	height:0;
  	padding-top:12px;
  	background-image:url(asset-path('ui/slides/pagination.png', 'image'));
  	background-position:0 0;
  	float:left;
  	overflow:hidden;
  }

  .pagination li.current a {
  	background-position:0 -12px;
  }
}

.slides_container .single_slide img { display:none; }
.slides_container .slide_control .single_slide img { display:block; }

.board-cover-image-slides {
  .slides_container {
    width:222px;
    height:270px;
    div {
      width:222px;
      height:270px;
      display:block;
    }
  }
}
