<tr>
  <td valign="top" class="bodyContent">
    <div mc:edit="std_content00">
      <h1 class="h1">Reset Your Password</h1>
      <p><strong>Hello <%= @resource.name %>!</strong></p>
      <p>Someone has requested a link to change your password, and you can do this through the link below.</p>
    </div>
  </td>
</tr>
<tr>
  <td align="center" valign="top" style="padding-top:0;">
    <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
      <tr>
        <td valign="middle" class="templateButtonContent">
          <div mc:edit="std_content01">
            <%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token), :style => "color:#fff;text-decoration:none;" %>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td valign="top" class="bodyContent">
    <div mc:edit="std_content02">
      <p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
    </div>
  </td>
</tr>

