<link rel="stylesheet" href="//<%= ActionMailer::Base.default_url_options[:host] + (ActionMailer::Base.default_url_options[:port] == 80 ? '' : ":#{ActionMailer::Base.default_url_options[:port]}") + asset_path('import-pinterest.css') %>">

<div id="boards">
  <%% for board in @boards: %>
  <div class="board">
    <h2>
      <%%= board.name %>
      <span style="font-size: 0.8em; font-weight: normal;"> - <%%= board.pins.length %> pin<%%= 's' if board.pins.length != 1 %></span>
    </h2>
    <ul class="pins">
      <%% for pin in board.pins: %>
      <li class="pin">
        <div class="thumb">
          <img src="<%%= pin.smallImageURL %>" alt="Pin Image">
        </div>
        <div class="info">
          <p>
            <strong>Description:</strong>
            <%%= pin.description %>
          </p>
          <%% if pin.price: %>
          <p>
            <strong>Price:</strong>
            <%%= pin.price %>
          </p>
          <%% end %>
          <p>
            <strong>Link:</strong>
            <%%= pin.link %>
          </p>
        </div>
        <div class="clearfix"></div>
      </li>
      <%% end %>
    </ul>
  </div>
  <%% end %>
</div>