<h1>
  Activity: Pins From Users 
  <% if current_user == @profile %>
    You Follow
  <% else %>
    <%= @profile.name %> Follows
  <% end %>
</h1>

<% if @profile_counters[:following].zero? %>
  <div class="empty_pins">
    <p>Here are a few pins to get you excited about all the wonderful ideas here on ParentPins. Check out a few boards, follow other pinners, or start pinning things you like.</p>
    <p>
      Get the ParentPin Bookmarklet to start ParentPinning from any site on the web -- just drag the following link to your bookmarks bar:
      <%= bookmarklet_link %>
    </p>
  </div>
<% end %>

<%= render 'pins/pins' %>

<%= render 'signup_step_2' if params[:step_2] %>
