- content_for :header do
  = stylesheet_link_tag "import.css", :media => "all"

- content_for :pre_footer_js do
  = javascript_include_tag "import.js"

- content_for :profile_content do
  .context.import{:class => @context}
    = yield

= render :template => 'layouts/profile'